
#new {
    background-image: url('https://www.dropbox.com/scl/fi/nl2bkl2thtrko949g9f0b/new_dresden.jpeg?rlkey=6m6hh80h678gxha4q6g5nktgs&st=jxrizitc&dl=0&raw=1');
}
#berlin {
    background-image: url('https://www.dropbox.com/scl/fi/1bhvqw22lyhpprw80syfq/berlin.jpeg?rlkey=2g3o6jf48oc4arkbxdxk2pacn&st=6wcw9gge&dl=0&raw=1');
}

#dresden {
    background-image: url('https://www.dropbox.com/scl/fi/ip6phvzagul0pmrm75omf/dresden.jpeg?rlkey=xtd3amgf77hla7csrtwzd866j&st=1rr2fasa&dl=0&raw=1');
}

#skyline {
    background-image: url('https://www.dropbox.com/scl/fi/zd4ravxlkke696m2nht5y/skyline.jpeg?rlkey=cdh1iqcgy18vm0h8awvygdcn7&st=egssfskr&dl=0&raw=1');
}
