# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask specific
instance/
.webassets-cache

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables file
.env

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Other files and folders to ignore
.DS_Store
Thumbs.db

# MacOS specific files
.AppleDouble
.LSOverride

# Backup files
*~
