/*  */
#wtf {
    background-image: url("https://www.dropbox.com/scl/fi/3vcuq5xm3cqj8wt95rd47/IMG_6766.png?rlkey=zeuv9gydu6su2e1ky6cscbv3l&st=0m974hv5&dl=0&raw=1");
  }

#porto {
    background-image: url("https://www.dropbox.com/scl/fi/htzkgqagm2byu3a7f1n97/IMG_6745.png?rlkey=gu47jyb6hkykpnmbj3jsmt43w&st=asgrc8rj&dl=0&raw=1");
  }

#tiles {
    background-image: url("https://www.dropbox.com/scl/fi/8x5yyvk3wxln4v7hgkfm3/IMG_7609.png?rlkey=ddz7lcq4v412j5120o7s0k8lu&st=0ggrmgir&dl=0&raw=1");
  }

#baxia {
    background-image: url("https://www.dropbox.com/scl/fi/f38lfwbvmrt4y4qwmx3sy/IMG_7355.png?rlkey=zi0yopvq5d9xq2jf3ohqbvfy4&st=jyweouqp&dl=0&raw=1");
  }