#med {
  background-image: url("europe.png");
}

#barcelona {
  background-image: url("barcelona.png");
}
#rome {
  background-image: url("rome.png");
}

#pompei {
  background-image: url("pompei.png");
}

#dubrovnik {
  background-image: url("dubrovnik.png");
}

#greece {
  background-image: url("greece.png");
}

#istanbul {
  background-image: url("istanbul.png");
}

#moro {
  background-image: url("moro.png");
}

#portugal {
  background-image: url("portugal.png");
}
