
#vatican{
  background-image: url("https://www.dropbox.com/scl/fi/kvtqjzygotpi8h9mz2lnt/vatican.jpeg?rlkey=pt3e6fxhp5j22m7a88xhxs0wd&raw=1");
}

#mix{
  background-image: url("mix.jpeg");
}

#bridge{
  background-image: url("bridge.jpeg");
}

#ruins{
  background-image: url("https://www.dropbox.com/scl/fi/mhzv695y8vaj687ndm74j/ruins.jpeg?rlkey=3ujelu0qeg66o7wefprj30b1l&raw=1");
}

#col_street{
  background-image: url("col_street.jpeg");
}

#col_night{
  background-image: url("https://www.dropbox.com/scl/fi/8qgd84q9whiyshmsh75g8/col_night.jpeg?rlkey=zpz749ylppvl2glnunahs70rg&raw=1");
}

#milan{
  background-image: url("https://www.dropbox.com/scl/fi/d9238mripc2i8p02nf1bn/milan.jpeg?rlkey=hcox71o2lkrfhfgba8xx9guli&raw=1");
}