#cork{
  background-image: url("https://www.dropbox.com/scl/fi/g9ah6ce1vk0yrwkumpdab/cork.png?rlkey=qq0kd9cilcc3jpwy90gay7ses&raw=1");
}

#irish_river{
  background-image: url("irish_river.png");
}

#irish_street{
  background-image: url("irish_street.png");
}

#peters{
  background-image: url("https://www.dropbox.com/scl/fi/oirwytxlrhu1lvc3m700x/peters.png?rlkey=2ua839i6ce53vb6o6szsvxvwi&raw=1");
}

#stone{
  background-image: url("https://www.dropbox.com/scl/fi/gfxkmlh3tfwoewgrmsdv9/stone.png?rlkey=llt7umu9fdd6n6evl7w2gwjvk&raw=1");
}

#trinity{
  background-image: url("https://www.dropbox.com/scl/fi/q5e3yxgxbgxh32r6f8nlk/trinity.png?rlkey=ze2uyi1pf3utmni6f4csu2ur9&raw=1");
}