#bruges {
    background-image: url('https://www.dropbox.com/scl/fi/q27galo6nqlr7db8wtg7v/bruges.jpeg?rlkey=2icayvqsycqbagaqmoqfum81o&st=jskif17f&dl=0&raw=1');
}

#swans{
    background-image: url('https://www.dropbox.com/scl/fi/idnyyid9r01cqac8ylzi5/tower.jpeg?rlkey=hv9f16i66zrpgqnzj5alf7q5a&st=lxijrzhs&dl=0&raw=1');
}

#ghent{
    background-image: url('https://www.dropbox.com/scl/fi/axpyungk2ykdoar3j6di0/ghent.jpeg?rlkey=b06f7lr316sn5pvta5eo02p06&st=wl64x5db&dl=0&raw=1');
}
