#black-church {
    background-image: url("black-church.jpeg");
  }
  
  #beach {
    background-image: url("beach.jpeg");
  }
  
  #foss {
    background-image: url("foss.jpeg");
  }
  
  #vik {
    background-image: url("vik.jpeg");
  }
  
  #blue-lagoon {
    background-image: url("blue_lagoon.gif");
  }
  
  #northern-lights {
    background-image: url("northern-lights.jpeg");
  }