#black-church {
    background-image: url("black-church.jpeg");
  }
  
  #beach {
    background-image: url("beach.jpeg");
  }
  
  #foss {
    background-image: url("foss.jpeg");
  }
  
  #vik {
    background-image: url("vik.jpeg");
  }
  
  #blue-lagoon {
    background-image: url("https://www.dropbox.com/scl/fi/e8ijr6w7um5dk5zhwajfl/blue_lagoon.gif?rlkey=rjvkc9d4u87fnfl8wbkxq4533&st=5reoc556&dl=0&raw=1");
  }
  
  #northern-lights {
    background-image: url("lights.jpeg");
  }