.hidden {
    display: none;
  }
  
.visible {
    display: block;
  }

#intro {
    font-size: clamp(24px, 8vw, 56px); /* Minimum size of 24px, maximum size of 48px */
    font-weight: bolder;
}

#message {
    font-size: clamp(20px, 8vw, 48px); /* Minimum size of 24px, maximum size of 48px */
    font-weight: 200;
}

#more-content {
    font-size: medium;
    font-size: clamp(20px, 8vw, 48px); /* Minimum size of 24px, maximum size of 48px */
    font-weight: 200;
}


.regular{
    font-weight: 400;
}

.icon-container {
    display: flex; /* Use flexbox to align items in a row */
    align-items: center; /* Center the icons vertically */
    gap: 20px; /* Space between icons */
    margin-top: 8px;
}

.icon-container i {
    font-size: clamp(30px, 2.5vw, 48px); /* Size relative to viewport width */
    color: #333; /* Change icon color as needed */
    opacity: 0; /* Start hidden */
    animation: fadeIn 0.5s forwards; /* Apply fadeIn animation */
}

.icon-container i:hover {
    color: var(--light-blue); /* Change color on hover (optional) */
}

.fadeIn {
    animation: fadeIn 0.5s ease-in forwards; /* Fade in effect */
}

.fadeOut {
    animation: fadeOut 0.5s ease-in forwards; /* Fade out effect */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start fully transparent */
    }
    to {
        opacity: 1; /* End fully opaque */
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Delay for each icon's animation */
.icon-container i:nth-child(1) { animation-delay: 4000ms; } /* 4 seconds */
.icon-container i:nth-child(2) { animation-delay: 4200ms; } /* 4.2 seconds */
.icon-container i:nth-child(3) { animation-delay: 4400ms; } /* 4.4 seconds */
.icon-container i:nth-child(4) { animation-delay: 4600ms; } /* 4.6 seconds */
.icon-container i:nth-child(5) { animation-delay: 4800ms; } /* 4.8 seconds */

.icon-container i.blue {
    color: var(--light-blue); /* Blue color */
}
/* #007BFF */