{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='countries/belgium/belgium.css') }}">
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='css/pages.css') }}">
</head>
<div class="parallax" id="bruges">
    <div class="caption">
        <span class="border">Bruges</span>
    </div>
</div>
<div class="para-tex">
<p>Bruges is Western Europe in a nutshell. It sits in perhaps the most inconsequential country in the region&mdash; Belgium, the forgotten catholic half to the Netherlands. A small quaint city, an old port, a forgotten harbor that fed into a once important medieval trade route, its place in commerce long since dried up. </p>
<p>And yet, for this very reason, it retains its magic. Sharp roofed, faded brick houses blend in with the fall foliage, Little tour boats putter along the canals that cut up to the town square. Tourists and locals alike wander through in the city center at a leisurely pace.</p>
<p>Megan and I had slipped away from our tour. Our guide had casually mentioned that Bruges was a pilgrimage site and a vial of Christ&#39;s blood was kept in the aptly named Basilica of the Holy Blood. The vial of blood was collected by Joseph of Arimathea after the crucification, and brought over in 1150 during the 2nd crusades. </p>
<p>Inside the church, behind the an ornately carved separator, a priest and a bouncer guarded the vial. Megan and I were to wait in the pews until the bouncer motioned us forward. I walked up to the alter and in a baroque glass box, laid a bolt of cloth, supposedly still wet with christ&#39;s blood. I inspected it. </p>
<p>It did indeed appear to be a piece of cloth, and it did indeed appear to be wet with some sort of rotten red mixture. How it remained so, I suppose, is the great mystery. Perhaps the airtight box formed some sort of perfect, self contained ecosystem, indefinitely trapping moisture. Like those big glass jars with ferns and moss in them. Or perhaps it was a miracle, a little clue left behind, something to astound, mesmerize, and eventually convince ancient Doubting Thomases. </p>
<p>Whatever it was it was interesting. I&#39;ve always been a bit jealous of Europeans. Their clean, beautiful streets, their human and vernacular architecture, their reverence for their own past. But it is little bits of lore like this that make me feel like I am missing out the most. </p>
<p>We&#39;ve had no mad kings, no religious relics, no ancient artifacts passed down before the dawn of rational light cleaned out the world of its mystery and splendor. We&#39;ve always lived in that rational world, devoid of magic. The United States is a nation of commerce, competition and capitalism. A utilitarian economic zone with hardly a shared story to bind its people. </p>
<p>But you can always visit Bruges. It&#39;s just a little fairytale land with canals and swans now isn&#39;t it?</p>

</div>

<div class="parallax" id="swans">
    <div class="caption">
        <span class="border">Swans</span>
    </div>
</div>
<div class="para-tex">
<p>Bruges used to be Antwerp, and Ghent used to be Brussels. At least that is what I read. Flanders, the northern, Dutch speaking part of Belgium, has always had a bit of an independent streak. Its canals, rivers, and medieval cities harbored a thriving merchant class, resistant to any outside rulers. And yet, those outside rulers still had the unenviable ruling those who didn&#39;t want to be ruled. </p>
<p>There was an expectation of certain right and privileges amongst the Burgher class in Flanders. They were granted near autonomy. No new taxes without consent, no foreign troops, local courts, and perhaps most critically, a veto power over war. </p>
<p>However, in 1482, when Hapsburg Emperor Maximilian gained control of Flanders through marriage, he was baffled and deeply skeptical over these privileges that do not align with his imperial style of rule. Upon entering Bruges to renegotiate the relationship between the crown and Flanders, he is shocked to find himself imprisoned, his beloved advisor executed, and the territory in open revolt. </p>
<p>After imperial pressure threatens to sweep Flanders into active hostilities, Maximilian was released but not before being forced to sign humiliating concessions. </p>
<p>Clearly upon release, the emperor would not let this slide. </p>
<p>His German armies crushed any resistance in Flanders, and he stripped Bruges and Ghent of their roles as the commercial and administrative capitals of the region, shifting them to nearby Antwerp and Brussels. But he damned Bruges with a more severe punishment&mdash; swans.</p>
<p>Megan and I watched a pair glide across the water from an arched stone bridge. Their unblemished white feathers contrasting, with the dark muddy waters of the canal and the worn beige bricks of townhomes. </p>
<p>Supposedly, Maximilian had ordered the swans to swim the canals as a memorial to his beloved and executed advisor, Peter Lanchals, the long neck. A living reminder to death of his close friend by the wealthy and rebellious Burgher class. </p>
<p>And yet people still say that the rich get away with murder.    </p>

</div>

<div class="parallax" id="ghent">
    <div class="caption">
        <span class="border">Ghent</span>
    </div>
</div>
<div class="para-tex">
<p>Three medieval towers dot the untouched Ghent skyline. Saint Nicholas&#39; Church, standing at 249 feet, Saint Bavo&#39;s Cathedral at 292 feet, and the Belfry of Ghent at 299 feet.</p>
<p> For those not in well versed in medieval terminology, a belfry is a bell tower, meant to both keep the time, and to alert citizens about any incoming threat. Atop the Belfry of Ghent lays the gilded dragon, originally from Constantinople. This gilded dragon serves as the protector and unofficial mascot of the city. </p>
<p>Ghent and Bruges were like unruly brother back in the 14th century, and their sibling rivalry even once broke out into open hostilities. Bruges, ever the teacher&#39;s pet, was publicly chastising Ghent for refusing to accept new taxes from the Count of Flanders, and even worse, insinuating that since it was such a good little vassal city that it should be the political center. Unable to handle such taunts, a detachment of Ghent soldiers marched on Bruges and stole their city banner, eventually hanging it from the dragon that watched atop from the Belfry. </p>
<p>Perhaps it was part of some grand urban planning handbook that was passed around the low country in medieval times, but like Amsterdam and Bruges, Ghent too was a city of canals. The most impressive of which brought ships into a central slip, lined with different trade houses. </p>
<p>Each had a grand and silly name like the Cloth Hall, the Grain Measures House, or the Free Boatmen&#39;s House, and each was topped with an ornamental fixture on the roof, like a bronze lamb atop the Old Wool Weigh House. It was along here that Megan and I shared a beer and a bite to eat. I had gotten beef roast in gravy, poured over a plate of French fries, which of course are actually Belgian in origin. </p>
<p>We watched the different boats glide through the canal as the sunset, casting a warm glow on old medieval stones. A tram bell rang as it turned past the Belfry, parting a sea of people. A unremedied point of congestion for the last five hundred years I suppose. </p>

</div>


{% endblock %}