{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='countries/denmark/denmark.css') }}">
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='css/pages.css') }}">
</head>
<div class="parallax" id="copenhagen">
    <div class="caption">
        <span class="border">Copenhagen</span>
    </div>
</div>
<div class="para-tex">
<p>Tall, blonde, rich and thin&mdash; the Danes are blessed with everything but good weather. It rained nearly every day that I was in Copenhagen. Over the course of the a week, I only saw a blue sky on the day we landed. </p>
<p>There is a certain navel gazing aspect to Copenhagen that I find endlessly endearing. It&#39;s this little fairytale bubble that doesn&#39;t appear to understand the rest of the world&#39;s troubles. Imagine living in a place where the chief concern is your daily life truly was about the rain. The safety net is too strong, yet everyone still pitches in. The public transit is too extensive and timely, but it&#39;s also clean and quiet. The streets are too cozy, winding and quaint, but it&#39;s also impossible to get lost. </p>
<p>But here&#39;s the thing. No one seemed to even mind the rain. Cafes had French style street seating, just with umbrella, blankets and heaters. Danish bikers grip onto specially installed hand rails at intersections in the drizzling drabby rain. Strøget was still packed with tourists and locals alike, marching along the cobblestones past Prada and Peak Performance. </p>
<p>I don&#39;t know if there ever was a Danish golden age, so the fabric of the city is a bit of a mishmash of different ideas and times. Nyhavn and Christianshavn are little replicas of Amsterdam. Frederiksstanden and Indre By are Parisian. The copies are intentional. In the early 17th Century, Christian IV created dams and canals of Christianshavn in the style of Amsterdam, trying to lure Dutch merchants with the promise of tax free commerce. </p>
<p>Kongens Nytorv, the town square at the center of the city, just off the Nyhavn harbor, is modeled on Paris with baroque opera houses and hotels lining the square. Upon graduation, high school senior celebrates by driving through the city in the back of farm trucks, plastered with colorful signs and balloons, often ending their celebration at Kongens Nytorv. </p>
<p>On a cold, rainy day in late October, I stood at the edge of the harbor. It was 50 degrees and windy with splatters of rain randomly kicking up. I tried pulling my thin coat tighter around my sweatshirt and nustled my baseball cap as deeply as possible onto my head. </p>
<p>I watched as a group of tall, thin, blonde Danes pulled themselves out of the harbor water, smiling ear to ear as they disappeared into a wrapped blanket. As always, completely oblivious to the suffering they should be experiencing. </p>

</div>

<div class="parallax" id="tivoli">
    <div class="caption">
        <span class="border">Tivoli</span>
    </div>
</div>
<div class="para-tex">

   <p>One of my earliest memories is riding a carousel with my mom.  I don&#39;t remember much about the day, but I remember the excitement of it. The feeling. A pure joy that is only known by a young child, not even a passing streak of anxiety or worry to taint the moment.</p>
<p>But somewhere along the line a photo was taken of us together on that ride and I&#39;ve often looked at that photo as the epitome of joy, innocence and childhood. Of a lost feeling that can never be recaptured. </p>
<p>I cherish that photo. I&#39;ve held the golden ornate frame in my hands. My mother&#39;s floral dress, my red stripped shirt and red shorts. My blonde tuff of hair and the cold painted eye of the wooden horse I was riding. Our smiles beam. Open mouth, full teeth smiles. The type you cannot fake. You could not draw a smile like this out of the best actors in the world. Earned smiles. Carefree smiles. The type of joy that can only be shared between a mother and a young son. </p>
<p><em>About Time</em> was the greatest, most devastating movie I have ever seen. It&#39;s premise is simple. The males in the Lake family can time travel, but doing so can leave little ripples that have outsized effects on future events. So they must be careful not to travel too far back and risk changing their lives.  James Lake, the father, is dying of lung cancer from smoking before he had children. He could go back in time and undo the smoking but that would risk losing his children. </p>
<p>Tim Lake, his son, learns his father is dying and his wife is pregnant. He only has the present time with his father to spend, and perhaps if he is careful, one childhood memory to travel back to and relieve. He chooses to play with his father one more time along the sea shore, careful to do so exactly like they had before. </p>
<p>I cried like I had lost a family member. </p>
<p>There is nothing as cruel and indifferent as the unceasing march of time. I miss the innocence of childhood and the type of happiness it produces. Glee is provenance of children, not adults. And when you grow up, you not only lose that, you begin to forget how it even felt. </p>
<p>In the very beating heart of Copenhagen sits a fairground called Tivoli. Full of antique rides and little blonde danish children, Tivoli is the type of place childhood smiles are created. I dragged my mother there. She was too tired from the tens of thousands of steps we had walked to go on any of the rides, so I rode the rides alone. All but one. </p>
<p>I asked sheepishly if she would join me for one last ride on a carousel. There haven&#39;t been too many times in the intervening 30 years that have had the opportunity for a carousel ride with my mother, and honestly I am not sure the opportunity will present itself again. </p>
<p>For a moment, on that carousel, I could remember how it felt. </p>
</div>
{% endblock %}