{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='countries/denmark/denmark.css') }}">
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='css/pages.css') }}">
</head>
<div class="parallax" id="copenhagen">
    <div class="caption">
        <span class="border">Copenhagen</span>
    </div>
</div>
<div class="para-tex">
<p>Tall, blonde, rich and thin&mdash; the Danes are blessed with everything but good weather. It rained nearly every day that I was in Copenhagen. Over the course of the week, I only saw a blue sky on the day we landed. </p>
<p>There is a certain navel gazing aspect to Copenhagen that I find endlessly endearing. It&#39;s this little fairytale bubble that doesn&#39;t appear to understand the rest of the world&#39;s troubles. Imagine living in a place where the chief concern is your daily life truly was about the rain. The safety net is too strong, yet everyone still pitches in. The public transit is too extensive and timely, but it&#39;s also clean and quiet. The streets are too cozy, winding and quaint, but it&#39;s also impossible to get lost. </p>
<p>But here&#39;s the thing. No one seemed to even mind the rain. Cafes had French style street seating, just with umbrella, blankets and heaters. Danish bikers grip onto specially installed hand rails at intersections in the drizzling drabby rain. Strøget was still packed with tourists and locals alike, marching along the cobblestones past Prada and Peak Performance. </p>
<p>I don&#39;t know if there ever was a Danish golden age, so the fabric of the city is a bit of a mishmash of different ideas and times. Nyhavn and Christianshavn are little replicas of Amsterdam. Frederiksstanden and Indre By are Parisian. The copies are intentional. In the early 17th Century, Christian IV created dams and canals of Christianshavn in the style of Amsterdam, trying to lure Dutch merchants with the promise of tax free commerce. </p>
<p>Kongens Nytorv, the town square at the center of the city, just off the Nyhavn harbor, is modeled on Paris with baroque opera houses and hotels lining the square. Upon graduation, high school senior celebrates by driving through the city in the back of farm trucks, plastered with colorful signs and balloons, often ending their celebration at Kongens Nytorv. </p>
<p>On a cold, rainy day in late October, I stood at the edge of the harbor. It was 50 degrees and windy with splatters of rain randomly kicking up. I tried pulling my thin coat tighter around my sweatshirt and nustled my baseball cap as deeply as possible onto my head. </p>
<p>I watched as a group of tall, thin, blonde Danes pulled themselves out of the harbor water, smiling ear to ear as they disappeared into a warm, wrapped blanket. As always, completely oblivious to the suffering they should be experiencing. </p>

</div>

<div class="parallax" id="malmo">
    <div class="caption">
        <span class="border">Malmo</span>
    </div>
</div>
<div class="para-tex">
<p>Just across the sound, lies the charming Swedish city of Malmo. And within that little city, sits the Best Western Hotel Royal, run by the kindest Swedes one could imagine. As always, upon landing after a red eye flight, I contemplate my place in the world and my will to live. This is always a dark time.</p>
<p>I don&#39;t know if I would call it a travel hack or a compulsive tick, but I always book my hotel for the night before I land and call the day ahead and pretend that my flight had gotten delayed but that I would be arriving the next morning. </p>
<p>This way, I have a place to sleep right upon landing. My body (and my bowels) are usually upset enough that I really require a place to rest upon landing, and like I said, contemplate the futility of existence and the labor that is travel. </p>
<p>Basically, like an 18th century noblewoman, I need a fainting room.</p>
<p>The innkeepers&mdash; and this lovely Swedish couple are probably the only Best Western franchisees, to deserve such a title &mdash; comped the first night, unlocked the windows, and even did a load of laundry for us for free. They made a fainting room, a fainting home.</p>
<p>The city of Malmo, apparently the third largest in Sweden, was wonderfully quaint. Its gothic center is surrounded by canals, which if for a lack of city walls, would form a moat around the historic core.</p>
<p>I mean this is the most complementary way possible, but Malmo is a bit of copy paste Baltic city. It&#39;s got the cobblestone streets, the old churches, and stately townhouses, but it lacks any distinct attraction of its own. </p>
<p>It serves like a platte cleanser before Copenhagen three course dinner. But perhaps Sweden is onto something here. Perhaps, a small city can simply be nice, and it doesn&#39;t need too much more to be worthy.    </p>

</div>

<div class="parallax" id="christianshavn">
    <div class="caption">
        <span class="border">Christianshavn</span>
    </div>
</div>
<div class="para-tex">
<p>&quot;I could live here&quot;, I always tell myself as I walk through the most expensive, most culturally significant neighborhood when traveling abroad. Really, you think you could slum it out in the Danish West Village? Yeah, given enough time and effort, I think I could adapt.</p>
<p>So was my thoughts as I walked through Christianshavn, a posh neighborhood of canals and colorful houses. It is a veritable Danish postcard. Built to emulate Amsterdam and attract dutch settlers, kayakers, houseboats, and pastel row homes line the cold clean waters of the canals.  </p>
<p>My tour guide lived in the &quot;Free town&quot; of Christiania, a little socialist enclave tucked away in the north easterly ruins of a Danish naval base.</p>
<p>Since the 1970s, a group of exclusionary hippies have been operating a free society there. Its legal legitimacy follows the tried and true &quot;No Girls Allowed&quot; strategy common with young boys&#39; Tree Houses. Basically they put a sign up and that was that. </p>
<p>Sometimes, Danish rule of law seems to operate like a kindergarten classroom. &quot;Oh Sven and his friends want to start a socialist utopia in the sandbox over there. Be nice and let them try or go play somewhere else.&quot; Perhaps that comes with social trust created by a homogeneous society. </p>
<p>Until only a few years ago, the main calling card of Christiania was grey market weed. That was until there was two lethal shootings, and the neighborhood essentially rewrote their constitution and let cops come in to clean the place up. Now it is just a place to buy poorly made hand woven baskets and odd knick knacks.</p>
<p>Christiania is just north east of Christianshavn. So strange and Scandinavian that those two things can live side by side. Fine and ancient houses next to what is essentially a hippie camp ground. </p>
<p>Like I said, given enough time and effort, I could make it work.</p>


</div>

<div class="parallax" id="kronborg">
    <div class="caption">
        <span class="border">Kronborg</span>
    </div>
</div>
<div class="para-tex">
<p>Deep below Kronborg Castle, where Hamlet once pondered &quot;To be or not to be&quot;, lies the dungeons, dark shadowy tunnels where many soldiers and prisoners went to die. And through that bat ridden maze of candlelight casements awaits the singular statue of Holger Danske, the legendary paladin of Charlemagne&#39;s court, Denmark&#39;s great hero. </p>
<p>He sits arms crossed, a menacing, heavy scowl across his great brow. His sword balanced perfectly across the arms of his stone chair, shield sitting at attention. His tree trunk arms hiding his great white beard. </p>
<p>The personification of the Danes rests, waiting for crisis, for catastrophe to awaken him from his great slumber and lead the them to glory once again.</p>
<p>Here beneath Kronborg, with its renaissance towers protecting Helsingor and the vital choke point of the Kattegat from roving Swedish ships, he sleeps, waiting for something rotten enough to pierce him and awaken him again.   </p>

</div>

<div class="parallax" id="tivoli">
    <div class="caption">
        <span class="border">Tivoli</span>
    </div>
</div>
<div class="para-tex">

   <p>One of my earliest memories is riding a carousel with my mom.  I don&#39;t remember much about the day, but I remember the excitement of it. The feeling. A pure joy that is only known by a young child, not even a passing streak of anxiety or worry to taint the moment.</p>
<p>But somewhere along the line a photo was taken of us together on that ride and I&#39;ve often looked at that photo as the epitome of joy, innocence and childhood. Of a lost feeling that can never be recaptured. </p>
<p>I cherish that photo. I&#39;ve held the golden ornate frame in my hands. My mother&#39;s floral dress, my red stripped shirt and red shorts. My blonde tuff of hair and the cold painted eye of the wooden horse I was riding. Our smiles beam. Open mouth, full teeth smiles. The type you cannot fake. You could not draw a smile like this out of the best actors in the world. Earned smiles. Carefree smiles. The type of joy that can only be shared between a mother and a young son. </p>
<p><em>About Time</em> was the greatest, most devastating movie I have ever seen. It&#39;s premise is simple. The males in the Lake family can time travel, but doing so can leave little ripples that have outsized effects on future events. So they must be careful not to travel too far back and risk changing their lives.  James Lake, the father, is dying of lung cancer from smoking before he had children. He could go back in time and undo the smoking but that would risk losing his children. </p>
<p>Tim Lake, his son, learns his father is dying and his wife is pregnant. He only has the present time with his father to spend, and perhaps if he is careful, one childhood memory to travel back to and relieve. He chooses to play with his father one more time along the sea shore, careful to do so exactly like they had before. </p>
<p>I cried like I had lost a family member. </p>
<p>There is nothing as cruel and indifferent as the unceasing march of time. I miss the innocence of childhood and the type of happiness it produces. Glee is provenance of children, not adults. And when you grow up, you not only lose that, you begin to forget how it even felt. </p>
<p>In the very beating heart of Copenhagen sits a fairground called Tivoli. Full of antique rides and little blonde danish children, Tivoli is the type of place childhood smiles are created. I dragged my mother there. She was too tired from the tens of thousands of steps we had walked to go on any of the rides, so I rode the rides alone. All but one. </p>
<p>I asked sheepishly if she would join me for one last ride on a carousel. There haven&#39;t been too many times in the intervening 30 years that have had the opportunity for a carousel ride with my mother, and honestly I am not sure the opportunity will present itself again. </p>
<p>For a moment, on that carousel, I could remember how it felt. </p>
</div>
{% endblock %}