{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='countries/germany/germany.css') }}">
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='css/pages.css') }}">
</head>

<div class="parallax" id="berlin">
    <div class="caption">
        <span class="border">Berlin</span>
    </div>
</div>

<div class="para-tex">
<p>Berlin isn&#39;t a city that assaults you with its beauty. It&#39;s dense, raw, and quite post industrial. Its urban form is the love child of Portland and Paris. Yes, there are grand boulevards, lined with stately tenements six to seven stories tall. But they are mostly unadorned with any sort of decoration. It is a city built in the ruins of a greater city. Much of it was bombed to rumble in World War II, and at least in the eastern sections of the city, there was little consideration given to beauty ahead of comfort in the rebuilding process. </p>
<p>After the war, Germany needed construct five million homes, and in that great rebuilding process, they landed on a somewhat drab and exposed form of architecture. Flat roofs, flat facades, a twisting labyrinth of grey and white. I had signed up for a short river cruise down the Spree. The embarking point was beautiful enough, right across from the baroque dome of the Berlin Cathedral and the weathered sandstone and copper top of the Bode museum. But within a 15 minute float of old Mitte came the familiar mix of glass and steel of a lifeless suburban Cleveland office park that is the central Berlin business district. </p>
<p>&quot;Look, deep in the distance you can see the Prussian victory column from our wars with Austria, France and Denmark. It of course sits in the middle of the six lane inner city highway,&quot; I could half imagine our tour guide to say.</p>
<p>Newly revitalized areas in American cities can have a somewhat limilinal feel to them. There is a copy-paste pattern of five-over-one apartment blocks with names like the &quot;The Biltmore&quot; or &quot;The Residences at Fountainhead&quot;, each held in massive corporate bonds and managed by faceless private equity leasing companies. And while Berlin doesn&#39;t feel quite like <em>that</em>, it feels somewhat generic, like something I would build in City Skylines on a long plane ride. </p>
<p>The best of buildings have a vaguely Parisian look to them but are built from plaster rather than stone. It appeared as if every fifth building would be pre-war and would be a quiet reminder of what once was. Every now and then, you would turn up a street to find cobblestones, trees, and ornately finished tenements, but that was the exception not the rule. Yet people love it.</p>
<p>Perhaps, I am simply not hipster enough to fully appreciate it. I do not want to finish day job in creative visual arts, to drink hefeweizen on the Spree before taking mysterious pills at a rave in an abandoned VW factory on the outskirts of town. I do not like techno, much less German techno. I get no joy in talking revolutionary politics or in having a mustache. I am the anti Kennedy. I am not a Berliner. </p>

</div>
<div class="parallax" id="skyline">
    <div class="caption">
        <span class="border">Dresden</span>
    </div>
</div>

<div class="para-tex">

<p>It would be a double strike with the second coterie of bombers hitting three hours after the first, just as the fire and rescue operations would be underway. It was 10:03 PM on the night of February 13, 1945.</p>
<p>The Russians were advancing into Silesia and were under 100 miles from Berlin. Dresden, never much of a manufacturing hub, was filled with refugees &mdash; women, children and the elderly, hiding from the advancing Red Army, who were carving a frenzied, vengeful path through East Germany &mdash; earned retribution for the tens of millions dead. In three short months, the deadliest war in human history would be over. </p>
<p>A group of 254 Lancasters from the Royal Air Force would drop 375 tons of incendiaries to light the city on fire, and crucially &mdash; reveal the city center to the second wave of bombers. Wing commander Maurice Smith would give the order:</p>
<p>&quot;Controller to Plate Rack Force: Come in and bomb glow of red target indicators as planned. Bomb the glow of red TIs as planned&quot;</p>
<p>Nearly 200 years prior, Augustus the Strong, so named for his prodigious size, was watching the &quot;Stone Bell&quot; dome of the Frauenkirche rise. It would be the largest stone dome in Europe upon completion, and highlighted the prestige and honor he had brought to the once provincial town of Dresden.</p>
<p>Augustus had recently converted to Catholicism in order to become King of the Lithuania-Polish commonwealth. It would be another hundred years until a monument to Martin Luther, a native son of Saxony would be placed before the church. But even on this day, this church would be Lutheran, a sign of good will meant to placate his more religious subjects. </p>
<p>The Frauenkirche rose in the city center, a well of gravity, bringing throngs of farmers and merchants to the surrounding square to peddle goods and squabble about prices. On a clear day, one could see nearly 20 miles in the distance from the top of the stone bell.</p>
<p>He would build the Frauenkirche for the people and the Zwinger for himself. Augustus had just returned from a grand tour of France and Italy, just as Louis XIV had moved his court to Versailles. He had wanted something to celebrate his election as King of Poland. He landed on an orangery, garden and potential front court to what would surely be his grand palace, plans he would later abandon in 1733, citing fiscal concerns. </p>
<p>He would later say, “I cannot build like a king of France, but I can place an eagle on every building.” </p>
<p>Frauenkirche withstood two nights of bombing, and its sandstone pillars held as 300 people evacuated the crypt into the roaring torrent of fire outside. Some 650,000 incendiary bombs were dropped on the city, cooking the church to over 1,000 degrees celsius. The sandstone pillars glowed bright red before exploding and sending thousands of tons of stone plunging to the earth below. </p>
<p>The intense heat of the air raid would destroy nearly the entire city, save for the mural of porcelain tiles, the Fürstenzug, which would bind ever tighter to the city walls. 25,000 would die in the bombing. The city would lay in blackened ruins for decades to come, left to fester by Soviets.</p>

</div>

<div class="parallax" id="dresden">
    <div class="caption">
        <span class="border">Rebuilt</span>
    </div>
</div>

<div class="para-tex">
<p>To walk through Dresden today is to know nothing of what came before. The Frauenkirche now towers in the town center. The sandstone buildings are already darkened by a protective patina of dirt and grime. I asked my tour guide, which of these buildings were destroyed in World War II. She would demure and whispered that she would tell me later at the end. </p>
<p>Looking at old photos, I suppose I should have known the answer. But it was one that would be confirmed by Michael Hunger, a relative big wig at my company, Neo4j. He would tell me at dinner one night after the conference. He grew up in Dresden and recalled the old town to be not much more than a pile of rubble. </p>
<p>I looked up at the not-so-old Stone Bell. Completed in 2005, if it was a person, it wouldn&#39;t even be old enough to drink, and yet it inspires the same awe as any other great European cathedral would. The Miracle of Dresden isn&#39;t so much that it looks old, which it of course does. It&#39;s that it looks authentic.</p>
<p>You do not feel like you are in some cheap reconstruction in Dresden. There is no Disneyland-style empty facades or forced perspectives. There is no suspension of belief here. The question you are asking yourself is not &quot;why does this look slightly off?&quot; Instead it&#39;s, &quot;Is this seriously younger than me?&quot;</p>
<p>Truth is that not all of it is actually that young. The Semperoper or Opera House, Zwinger, and Dresden Castle were all rebuilt by the Soviets in fits and starts during the reign of the DDR. In fact, it was really just the Frauenkirche and Neumarkt that surrounded it, which remained unbuilt by the time the iron curtain finally fell.</p>
<p>I have spent much of my adult life lamenting about the current state of architecture. I find it drab, uninspiring and a bit soulless. I&#39;m lying. It&#39;s much worse than that. It is entirely divorced from any cultural roots. More over, it seems to find any vernacular forms or touches entirely distasteful. It is sterile, lifeless, and antihuman. </p>
<p>For time immemorial, architecture has reflected the health of its civilization. When things were good, the population would be showered with ever increasingly beautiful surroundings and public works. Libraries, theaters, opera houses, temples, churches, mosques and pagodas, each a civic icon, a gathering point. A common goal labored upon by a common people. A legacy wasn&#39;t set until it was set in stone. </p>
<p>Like language itself, architecture builds and changes as culture evolves. But it always should remain familiar to the past, always speaking the same dialect, in constant conversation with words spoken before. From that, a harmony arises, a sense of place, a connection to the past and belief in the future. Walking through Rome never feels like a discordant mess of construction, though its urban form spans thousands of year. The buildings talk to each other, speaking a shared language of corinthian columns and weathered stone arches.</p>
<p>But after World War II that vanished. Buildings became dimensionless cubes and boxes. Cities look the same everywhere. Any detailing, any nod to the past has been removed. Around the world, a thousand conversations&mdash; each as old as time itself &mdash; fell silent. And for much of my life, I believed that it always would be so. But in looking up at the Frauenkirche, I could hear whispers.  </p>

</div>

<div class="parallax" id="new">
    <div class="caption">
        <span class="border">New Dresden</span>
    </div>
</div>

<div class="para-tex">

<p>&quot;Quick pedestrian lights here.&quot;</p>
<p>&quot;Yeah, not designed for fat McDonalds Americans so much are they?&quot; Sometimes it feels like Europeans have the social acumen of a toddler or alien. I was on a paid tour to see the sights of &quot;New&quot; Dresden, which is the half of the city that the Allies did not bomb in World War II &mdash; oddly named because its buildings are in fact considerably older than &quot;Old&quot; Dresden, which was rebuilt in the late nineties.</p>
<p>The tour mostly consisted of walking from street corner to street corner with a 31 year old German man who had some ambiguous local government job in cultural affairs. </p>
<p>&quot;But you are not fat of course,&quot; he said, mildly course correcting. It was just me and him, and this was pleasant interaction was within the first two minutes of the grand tour beginning. He had went to university in Dresden and split a flat with three others, all of whom had presumably haven&#39;t fully moved past their college years. </p>
<p>I suppose if I was quicker or more confrontational I could have pointed out that short pedestrian lights was actually car centric, but instead we just politely moved the conversation forward. </p>
<p>We first stopped at a convenience store to pick up drinks. Much to his dismay I grabbed a soda rather than a beer, and I think we could both tell from there that I perhaps had signed up for the wrong type of tour. Perhaps if I was five years younger or if my stomach was a bit more settled, I would have gone out drinking with this man, but as it stood, I instead listened to him describe graffiti soaked bar after bar and all the times he had went out drinking within them, each time politely declining to grab a beer within. </p>
<p>I suppose to the Dresdenite a building doesn&#39;t look complete until it has been throughly tagged with initials, random slogans, and half assed drawings because not an inch was left untouched by spray paint. In here lies the fundamental contradiction in the German nature. There seems to be a desire to rebel in a socially acceptable manner. I suppose if graffiti is widely practiced, than its not much of a rebellion now is it? </p>

</div>


{% endblock %}