{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='countries/japan/japan.css') }}">
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='css/pages.css') }}">
</head>

<div class="parallax" id="trash">
    <div class="caption">
        <span class="border">Trash</span>
    </div>
</div>

<div class="para-tex">
    <p>&quot;No, you keep. Carry.&quot; </p>
    <p>I had left the bag for my new Seiko watch in the bathrooms outside the Imperial Palace. I realized but within 15 minutes of discovering my mistake, the janitor had already cleaned the bathroom and thrown the bag and box into the trash. </p>
    <p>I had entered the bathroom and had asked if he had seen a watch box in there&mdash; partly because I was embarrassed about leaving what was essentially garbage by the sink in the bathroom, but mostly to retrieve the warranty card from the bag.</p>
    <p>He gestured to his garbage bag, and I fished both out, the box was covered in a thin layer of garbage bag moisture, but the warranty card was tucked into an envelope and free of the liquid. </p>
    <p>I took the box out of the bathroom, and then asked the janitor if he could take it. </p>
    <p>&quot;No you keep. Carry&quot;, he said hold both his hands up and bowing slightly. </p>
    <p>The Japanese have a weird thing about trash. It&#39;s a private responsibility, and the world&#39;s biggest city is largest spotless because of it. </p>
    <p>I don&#39;t think it&#39;s as simple as to say that the Japanese are just better about trash. There, people don&#39;t walk and eat. If they get a sandwich at 7/11, they eat it there or take it home and eat it. You will not see them walking around the streets or subways with food or drinks in their hands, and thus don&#39;t need to throw anything away in a public trashcan. </p>
    <p>And neither will you see them with a plastic bag containing all of the day&#39;s wrappers, pamphlets and tickets. Whatever institution gave them the offending piece of detritus is typically responsible for disposing of that detritus. </p>
    <p>The tourist naturally has a much different consumption pattern. We are spending 90% of our waking hours walking from sight to sight, eating little snacks from convenience stores and being forcibly handed temple tickets that no one checks and pamphlets that are too dry to read. And by the end of the day, our pockets are full of trash, and there really is no where to put them.</p>
    <p>It wasn&#39;t always this way. There actually used to be public trash cans. In 1995, a religious cult released sarin gas from public trash can throughout the Tokyo subway, killing 13 and injuring over 5,000. The government responded by removing nearly all public waste receptacles, and here we are today.</p>
    <p>This is not to say that Japanese society does not value cleanliness more than Western societies. It certainly does. If New York City banned public trash cans, they city streets would be filled with garbage. We <em>do</em> have trash cans, and they already are. It does make me wonder who leaves trash in the parks and rivers because I could never dream of doing that, and I can&#39;t imagine my friends would either.</p>
    <p>But how do we end up in a scenario where I am holding a slimy wet piece of trash and asking a janitor who is holding a garbage bag &mdash; which not coincidentally is why my watch box is slimly and wet&mdash; and that janitor is telling me to keep it.</p>
    <p>Is that really a better system? Yeah, I suppose it is. The results speak for themselves. </p>

</div>
<div class="parallax" id="tokyo">
    <div class="caption">
        <span class="border">Tokyo</span>
    </div>
</div>

<div class="para-tex">

<p>King Charles said in his younger and more forthright years, "You have to give this much to the Luftwaffe — when it knocked down our buildings, it didn’t replace them with anything more offensive than rubble". I wonder if there ever was an equivalent statement made about us by the Japanese.</p>
<p>Tokyo is a city looking for a soul. No one section is particularly pretty. Or even particularly unique. It strikes me as a little odd that a country so insular and hostile to foreign influence has it&#39;s entire urban fabric is built in an international style. There is nothing particular <em>Japanese</em> about Tokyo. You can take any building for Tokyo&#39;s skyline and plop it in any other city without much question.  I challenge a naive guesser to think of three Tokyo landmarks. I can barely do that after spending a week there.</p>
<p>It&#39;s easy to find the blame. 50% of Tokyo was leveled in World War II, and much like post-war American cities, it struggles to build any sense of identity out of the rubble.</p>
<p>That&#39;s not to say that it isn&#39;t charming, but it is a city built to optimize function at the cost of form. The Japanese might even tell you that this is to their taste. While the West eats rolled sushi, they prefer the nigiri. A delicate piece of fish on top of a perfectly formed cylinder of rice is beauty through simplicity&mdash; no need for avocado, spicy mayo, or cream cheese. Remove everything nonessential and you are left with the pure essence. Life without distractions. The zen mindset. What&#39;s more Japanese than that?</p>
<p>I almost believed that until I saw the clutter of Shinjuku or the grand roofs of Kyoto. I believe it&#39;s more simple than that: Tokyo is a city that was looking to catch up. The American bombing raids completely unraveled the country&#39;s urban fabric and, in two cases, reduced entire cities to ashes. The destruction of Japan is unmatched anywhere else on the earth.  </p>
<p>Most societies would have shriveled up and died faced with such destruction. Japan rose to its economic and perhaps even cultural height.</p>
<p>In the day, perhaps Tokyo is bland. But at night, the city glows. In Shinjuku and Shibuya especially, half a million neon kanji bath the city in a rainbow glow, all the more intoxicating since you don&#39;t know what any of it means. It&#39;s a sprawling Times Square with the grit of the 70&#39;s. Block after block of girl shops, and women in maid outfits line the streets. Bouncer stand on each corner, beckoning you into strip clubs and pachinko palaces. </p>
<p>Ramen, sushi and tempura spots stack on top of each other in a chaotic cacophony of culinary possibility. Department and electronic stores rises five stories each. The knick knack emporium, Don Quixote, gives the impression of a franchised flea market. And it is all swarming with relentless crowds of people. Japanese business men march lockstep in black suits through the subway gates, constantly pinging with the taps of suica cards. </p>
<p>By any major transit hub, you can hardly wait at a cross walk unengulfed by hundreds of fellow pedestrians. It&#39;s impossible to imagine that such a place is in the midst of history&#39;s greatest population crunch.</p>
<p>It&#39;s a Jeckle and Hyde city&mdash; a bit subdued during the day, and simply fantastic at night. </p>

</div>

<div class="parallax" id="kyoto">
    <div class="caption">
        <span class="border">Tea</span>
    </div>
</div>

<div class="para-tex">

<p><em>Step 1: Carefully remove the lid from the natsume and place said lid upright on the tatami mat.</em> </p>
<p>Our host patiently but oddly firmly explained the steps of the tea ceremony to us. She was a psychologist who used the intricate nature of the tea ceremony to impart mindfulness on her patients. </p>
<p><em>Step 2: Using the chashaku, a thin lacquered wood scoop, draw two scoops of matcha from the natsume, and deposit them into the chawan. Tap the inside of the chawan to free any excess matcha from the chashaku</em></p>
<p>I can see the mindfulness in the ritual. We sat inside her tea room in a beautiful grand house on the outskirts of Kyoto. The gentle rain peppered against the wooden roof. Only a thin paper screen separated us from her garden.</p>
<p><em>Step 3: Return the lid to the natsume and place the chashaku across the top, ensuring that it never touches the ground</em></p>
<p>Japanese society was once highly ritualized, with strict social customs dictating many interactions. The tea ceremony is perhaps the most famous. And though it appeared highly choreographed to us, we participated in the informal Chakai version, lasting only 45 minutes, compared to the Chaji, which can only be accomplished by senior tea masters and which lasts up to four hours.</p>
<p><em>Step 4: Use the hishaku, a bamboo ladle with a long stem, to retrieve a scoop of boiling water from the Kama, and deposit 80% of it into the chawan. Bring the hishaku to rest atop the Kama.</em></p>
<p>Perhaps the same impulse drives the &quot;kata&quot; in karate. These are complicated routines or sequences of moves meant to respond to a given scenario. Each movement in the kata is preordained. Every movement of the hand, arms, body and legs is mapped and to be performed in a given order. There is no thinking in karate, or at least there shouldn&#39;t be. A fight is a set of flows, movements, and manners, and with strict diligence and concentration, each path could be memorized and responded to, an act closer to a ritual or dance than a fight. </p>
<p>Likewise, each interaction, each utensil&#39;s position, every word and movement is ritualized into a set of complex kata for the tea ceremony. The Teishu, or tea host, and the kyaku, or guest, each have a dictated role to play and must bring mindfulness and flow into the highly mannered practice of preparing and receiving matcha tea.</p>
<p><em>Step 5: Use the chasen to whisk the matcha, first in a figure-eight pattern and then back and forth, building the tea to a fine froth</em></p>
<p>The rituals are gone from Japan.</p>
<p>Do not expect a formal tea ceremony as a visitor in a Japanese home. No one knows the kata. The geisha is dwindling. Tea houses are drying up across the country. The rigid formality of Edo Japan is giving way to common society of a more global world. But this highly ritualized world left behind an unmatched set of manners in Japan.</p>
<p>Each interaction in Japan still follows a more formal script than in the western world. When you enter a restaurant in, you will be greeted with &quot;Irasshaimase!&quot;, and upon leaving the entire staff with undoubtedly say, &quot;Arigatou gozaimashita!&quot; It&#39;s not uncommon that a waiter will even walk you to the door and offer a deep bow as you exit.</p>
<p><em>Step 6: Place the chasen in front of the guest, and offer a deep bow</em></p>
<p>Manners are rituals. They are prescribed set of social kata meant to demonstrate consideration for the stranger. The waiter brings the check and asks how the meal was. I tell him it was great, lying if need be. He hands me the check. I tip 20%, absent any grave violation of politeness. Each step in this ritual, a moment of mindfulness, an exercise in receiving and giving dignity to a stranger. The waiter asks how the meal was, not because he particularly cares, but because it&#39;s the expectation that he would ask.  </p>
<p>And so we complete our little tea ceremony.</p>

</div>

<div class="parallax" id="goldengai">
    <div class="caption">
        <span class="border">Golden Gai</span>
    </div>
</div>

<div class="para-tex">
    <p>&quot;I have question for you. Why are there so many foreigners?&quot;, our bartender asked as a fellow Japanese patron turned to look at me with a quizzical look on his face. She was right. There were quite a few foreigners, more than I or perhaps even the Japanese suspected there should and would be. </p>
    <p>We were in Golden Gai, a collection of back alley bars that was a bit unlike any place I had been before. It a twist of four alleys tucked behind the highly neoned Shinjuku. Each bar was no bigger than my Brooklyn kitchen, and featured no more than six or seven stools, and no room to stand. </p>
    <p>Shibuya had something similar, a small strip adjacent to train tracks, called Drunkard&#39;s Alley. One night Megan and I would accidentally stumble into a Japanese-only bar, to get a frosty reception, curt replies to attempts at conversation, and a big smile when we paid and left. </p>
    <p>But Golden Gai felt a bit magical. The bars were intimate. I had never once struck up a conversation with a bartender in the US, but here it almost felt like a requirement of the space. It was like stepping into a living room.</p>
    <p>At a different bar, the bartender offered us his grandmother homemade plumb wine, out of a sealed glass decanter, along with free shots of tequila and conversation about the three months he spent in Soho in New York City. We asked but in that entire time, he never left Manhattan, much less visited Brooklyn. </p>
    <p><em>Why so many foreigners?</em></p>
    <p>I thought about it. Tokyo had actually significantly less foreigners of any major international city that I have ever visited by a pretty remarkable margin. </p>
    <p>If you live in New York, you don&#39;t go to the Statue of Liberty, at least not routinely. So if you were to go, you would surrounded by tourists. Do locals go to Joe&#39;s? Do locals go to the Bethesda Fountain in Central Park. Do tourist expect they are getting the authentic New York experience when they do what the locals rarely do? What else can be expected of them? Should they spend their vacation at the DMV for the authenticity.</p>
    <p>Do locals go to Golden Gai? I don&#39;t know, but I imagine they will less as more foreigners come. </p>
    <p>But all this was past the possibilities of our conversation.</p>
    <p>&quot;For me, it&#39;s kind of like traffic. When I am in traffic, I always think who are all these people driving around? But I am the people. I am the traffic. Much the same way, I want to experience authentic Tokyo, but everywhere I go I see tourists. But I am the tourists.&quot;</p>
    <p>She nodded politely. I could tell that she thought I had taken offense at her comment, and hadn&#39;t understood my reply. I&#39;m not sure I fully understood my point either. I want Japan to feel Japanese but also want it to feel welcoming and accessible. Those two things are in tension with each other. The conversation dried up. Megan and I paid and left.  </p>

</div>



{% endblock %}