{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='countries/netherlands/netherlands.css') }}">
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='css/pages.css') }}">
</head>
<div class="parallax" id="amsterdam">
    <div class="caption">
        <span class="border">Amsterdam</span>
    </div>
</div>
<div class="para-tex">
<p>Amsterdam is a machine optimized for living. Every crooked, half sunken row house, every brick laid in the bicycle path, every canal cutting around the core has been precisely machined to create the perfect habitat for Dutch people. </p>
<p>Paris is a city of stone. Amsterdam is a city of brick. Cute little dutch row houses, slanting this way and that as they settle into the marshy wet mud, circle blocks and blocks of oblong artificial islands, cut out of the marsh by concentric circle of canals. House boats anchor the waters edge and sight seeing boats putter along, more there to drink in the ambience rather than take in any given sight. </p>
<p>&quot;Keep an eye out for the seven different modes of transportation&quot;, Megan remarked as we glided along in rented bikes. She wasn&#39;t wrong. The American pedestrian is attuned to look for cars when crossing a road. In Amsterdam, one must be ready for an army of cyclists, pedestrians, trams, and yes of course cars too. Not to mention the subway below or the water taxis in the canal. </p>
<p>Perhaps inspired by said water taxis, dutch bicycles have abnormally large wheels, lending them to handle a bit a like a boat. We kept paddling forward, deeper and deeper into the city. Dutch cycling infrastructure is unmatched anywhere else in the world, and we found navigating it surprisingly easy, more so since the city rests below sea level and thus is clear of any change of elevation, much less hills. Turns however proved a challenge. And getting that massive wheel spinning from a picture stop was harder to achieve than expected. </p>
<p>We had just bought a set of dutch tiles, a mish mash of painted blue and white figures from between 1600 and 1900. Three hundred years of tradition, bought, paid for and soon to be transported off to America. Unlike in Portugal, Dutch tiles do not decorate the outside of homes. Amsterdam remains a sea of worn beige brick. </p>
<p>We pulled our bikes over by a large church. There was a flea market outside. After spending more time and effort than is decent, we managed to lock our bikes amongst the hundreds of others. We thumbed through the stacks of old maps and prints of antique bikes&mdash; the same fare that can be found all round the world at any of these little markets&mdash; looking for any additional bits of art that could also be a candidate for our crowded wall. </p>
<p>It&#39;s all so charming and quaint. So cozy and frankly wabi sabi. Even the cities imperfections seemed to engineered to charm. A perfectly machined ball of living, populated by tall, thin Dutch endlessly cycling from work, to coffeeshop, to home.      </p>

</div>

<div class="parallax" id="boat">
    <div class="caption">
        <span class="border">Red Lights</span>
    </div>
</div>
<div class="para-tex">
<p>The Dutch know how to sin cleanly. Neat little rowhouses, museums and &quot;dutch for kindergarten&quot; sit alongside coffeeshops packed with weed and women in glass boxes lined with red lights. You don&#39;t visit the Red Light District as much as you stumble into it. It sits just off the inner most island. </p>
<p>Amsterdam has always been a free city since throwing off the Hapsburg yolk in XYZ. A republic, a city of merchants, of stock markets, unbeholden to the pope in Rome or any monarch. Perhaps this informed the dutch tradition of compromise. You can sin but keep it decent. </p>
<p>Take the coffeeshops. They were born out of a largely handshake deal between police and the people. Weed remains nominally illegal in the Netherlands, yet it is wildly pervasive there. How? Well, as is always the case in orderly world of Northern Europe, it derives from a government report. The thick wheels of bureaucracy determined that unlike heroin or cocaine, marijuana did not possess the same capacity for misuse. So a compromise was reached.</p>
<p>Law abiding citizens could purchase weed, as long as they were discreet about it. That meant the stores, labeled coffeeshops&mdash; without the space means weed, with the space means coffee &mdash; could discretely sell their wares as long as the product remained in the store, the signage wasn&#39;t too obvious, and no further criminal mischief took place. </p>
<p>This of course allowed daring tourists an air of plausible deniability as they entered the shop, one where they could return home and tell their sterner relatives with a wink and nudge that they accidentally happened upon one of these rouge stores when looking for a honest cup of black coffee to start the morning. </p>
<p>A thin strip of red neon lights frame big glass window panes, the soft red glow indicates that humankind&#39;s earliest profession is still practiced here. Women in lingerie sit on stools encased in glass, as if they are in vending machines, feigning interest at those who pass. There is a playful balance walking by, where one cannot help but look at the glass bound women and wonder how they got into their work and if they enjoy it, but to do so without making eye contact and coming off as a potential customer. </p>
<p>Megan and I were of course not customers. We pushed along, walking through on a round about track to the train station. We would head home and sit on a bench outside our hotel, on the outer most canal of the old city, staring at a barque hotel, trading drags from a cup of black coffee. No sugar, no cream.  </p>

</div>

<div class="parallax" id="train">
    <div class="caption">
        <span class="border">Train</span>
    </div>
</div>
<div class="para-tex">
<p>The carriage door slide open. Two Indonesian men, face covered with tattoos, and one presumably Dutch woman appeared. The two men, one carrying a blaring speaker in hand, surveyed the carriage and landed themselves in seats next to two young women in a four seater.</p>
<p>&quot;Anyone sitting here,&quot; they glared as the sat down, clearly uninterested in an answer.</p>
<p>One of the now trapped women asked if they would turn off their music. </p>
<p>&quot;I&#39;m a citizen just like you, and I am going to do whatever the fuck I want&quot;, he spoke calmly, yet with great hostility as if he and this stranger had some long, troubled history together. His cold, calculated pent up anger pointed at this random woman. &quot;I have every right to enjoy my fucking drink, and listen to my fucking music as much as anyone else.&quot; </p>
<p>The startled woman instinctively stood up, her face flushed red with fear and embarrassment.  She stammered something back about herself being an immigrant. </p>
<p>&quot;Sit down,&quot; the man continued. </p>
<p>&quot;Can I go?&quot;, she asked softly turning to the man blocking her path. He simply shook his head, crossed his arms, and looked sharply ahead as his co-conspirator continued on. For a moment, her face drained.</p>
<p>&quot;You need to move,&quot; the woman said more sharply. He gave her another look, sizing her up, the thinly veiled threat of violence hung heavy in the train. He considered grabbing her, choking her, pulling her hair. Violence danced in his eyes.</p>
<p>Then, he stood up, feigning manners as he motioned for her to move by him. It was a weird gesture, almost a talent, to turn a benign act into a violent one. He coated each movement and every word a thin saccharine veil of civility that hid an unusual cruelty. </p>
<p>Like whipped dogs, they knew how to comply, yet remain undeniably hostile.</p>
<p>&quot;You all are violent&quot;, the woman said now clear of the men, gathering up her bags in a tizzy. &quot;This isn&#39;t over. I am getting the conductor.&quot;</p>
<p>They sneered and snickered and returned to their drinks. The other trapped woman sat frozen. </p>
<p>I remember the nonplussed line of questioning from the train conductor. Did they have their tickets? Why didn&#39;t they? A woman was complaining. Why was that?</p>
<p>I wanted to pull him aside. Throw these men in jail. Isolate them from the other inmates. They only mean harm.</p>
<p>I&#39;ve been afraid for my safety in New York. I&#39;ve seen a homeless man scream in rage directly in someone&#39;s face as a stunned train looks at the floor, hoping he will pass them by unmolested. I&#39;ve broken up a fight between drunk teens and an old crazed woman, on a 2am train back from Coney Island. But never in my life have I seen people like that before. Born villains. In full control of their facilities, unprompted, choosing to act violent. I hope I never see it again.   </p>
</div>


{% endblock %}