{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='countries/nyc/nyc.css') }}">
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='css/pages.css') }}">
</head>
<div class="parallax" id="greenwich">
    <div class="caption">
        <span class="border">Greenwich</span>
    </div>
</div>

<div class="para-tex"></div>
    <p>Each neighborhood in New York crystallizes a moment in the city's history. To walk through New York is not just to walk through space but to walk through time as well. At its best, Greenwich captures the spirit of the New York 60s &mdash; rebellion, anger and hope, but mostly youth. </p>
    <p>I sat today on a bench on an unseasonably warm Sunday December afternoon in Washington Square Park. On the way, I passed through chess board matches, three piece bands, bewildering TikTok performance artists, and a dance troupe under the Washington Arch. </p>
    <p>I imagine it was much the same in the 60&#39;s when visionaries like Bob Dylan, Jimi Hendrix, Simon and Garfunkel, Allen Ginsberg and Jack Kerouac stalked the narrow winding streets, creating new forms of music and writing. </p>
    <p>Or when bitter civic rivals Jane Jacobs and Robert Moses spared throughout the 60s on the proper urban fabric of the neighborhood, with Moses advocating for the bulldozer and highway and Jacobs for the preservation and refurbishment of stately federal row houses. And perhaps most consequentially to prevent fifth avenue from running through Washington Square Park, which at that point was at least partially a parking lot. </p>
    <p>Cafe Society, where Billie Holiday first sang &quot;Strange Fruit&quot;, and Folk City, where Bob Dylan debuted &quot;Blowing  in the Wind&quot;, are now closed. The former closing in 1950 and the latter in 1987. Early Dylan haunts, Cafe Wha? and The Bitter End still hang on, but the bohemian energy has morphed into something else. </p>
    <p>Greenwich Village simply isn&#39;t for the wandering artist anymore. You won&#39;t find an Edward Hopper living in a top floor apartment lining Washington Square Park as he once did. There is no Bob Dylan, couch surfing around the Village, more focused on writing his first album than signing his first lease. It is perhaps home to most entrenched wealth in the city. The Boomers grew up, grew wealthy, and outbid each other to return back to the Village of the 60s.</p>
    <p>But you will still find youth. </p>
    <p>The most consequential tenet in the neighborhood, NYU, provides that that in droves. There is perhaps no better fount of artist self expression than the rich college student who has free time, a still forming sense of self, and no experience dealing with adult problems. It&#39;s a freeing time of life &mdash; one that quickly collapses when the first rent payment comes due. </p>
    <p>It&#39;s best to visit Greenwich in the late fall and early winter. When the wind blows and you are bundled up in a thick jacket. Go when the NYU students fill the park with their silly antics, like a Timothee Chalamet look alike contest or various short form video quiz shows, each hoping that their unique sense of humor or style will buy them a moment in the attention economy.</p>
</div>

{% endblock %}