{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='countries/portugal/portugal.css') }}">
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='css/pages.css') }}">
</head>
<div class="parallax" id="wtf">
    <div class="caption">
        <span class="border">Pictures</span>
    </div>
</div>

<div class="para-tex">
    <p>I used to hold a lot of faith in the ability of the everyday man&mdash; until I started asking random people to take my picture while on vacation. This simple task, which seems so easy&mdash; so obvious, so trivial &mdash; stumps nearly everyone I ask. </p>
    <p>Here I am, at the edge of the world, hundreds of miles from home, with the most beautiful backdrop I could ever imagine, and I ask you to take a picture of me and my newly minted wife. Why would you take a full body shot of the two of us. We want the background. Honestly, we barely even need to be in it. We almost ruin it. We don&#39;t have the same beauty as the rolling hills of Porto. There is a reason millions of tourists don&#39;t visit <em>us</em> every year. </p>
    <p>There is no need to include our feet in this shot. </p>
    <p>If you are choosing between including the Sagrada Familia and my shoes, I will not hold it against you if you choose the Sagrada Familia. I will not look back at this photo years from now and wonder what shoes I was wearing. </p>
    <p>Ok so now my feet are in the shot. You know what else is? The ground. A big old patch of grass. And because I don&#39;t stand directly on the horizon line, like 80% of the frame is now grass. And you know what, the grass in Porto looks much the same as the grass in New York. It looks the same here as it does everywhere. It would look the same in a prison. Is there a reason you elected to include prison grass in this photo? Answer me. </p>
    <p>And why am I perfectly centered? Again, the backdrop is the focus. We are the appendage. Relegate us to one third of the shot and give the city the rest. </p>
    <p>I know I said, &quot;Can you take a picture of us?&quot; But I did not mean literally just take a picture of the two of us. This is the type of picture ChatGPT would take if it could hold a camera. Are you a robot? Has music ever brought you to tears? Have you smelled the fresh scent of cut grass? Has a tight hug healed your cold and broken heart? Have you ever laughed so hard you couldn&#39;t breathe? Have you ever loved someone so hard you felt empty without them? </p>
    <p><em>Can you not recognize what makes a photo beautiful?</em></p>
    <p>Anyways, thanks for taking our picture. Do you guys want one?</p>
    
</div>

<div class="parallax" id="porto">
    <div class="caption">
        <span class="border">Porto</span>
    </div>
</div>

<div class="para-tex">
    <p>There is quite the bridge in Porto. Its grand metal arch stretches 1,500 feet across a 150 foot deep canyon formed by the Douro river. On the northern most side, is the dense ancient city of Porto, and on the southern side, you will find the slightly less old city of Gaia (note: the country&#39;s name is portmanteau of the two place names). Given the bridge&#39;s lattice work of unadorned steel, you shouldn&#39;t be too surprised to find that it was built by an associate of Gustave Eiffel, who has a famous tower named after him in France. </p>
    <p>You might be more surprised by the traffic configuration on the upper deck. </p>
    <p>Tram cars from the D Line of the subway share space with pedestrians. By this I do not mean that there is a dedicated space for the pedestrians and a dedicated space for the tram. I mean they share space. When the train comes, it blows its horn, and you are simply expected to move out of the way.</p>
    <p>So there we found ourselves at the top of the bridge, which I think has the distinction of being the best place to take a picture and also the most likely place get hit by a train. And boy was it picture time. </p>
    <p>The city glowed a beautiful orange in the golden hour sun. From atop the bridge, you could see the entire city. You could see miles and miles of red tile roofs, pastel painted stucco, stone arcades, and Juliet balconies. The gondola floated through the air as Rabelos, packed with heavy casks of rich red wine, floated along the banks of the Douro. </p>
    <p>On the far side of the bridge was a hill top park that offers sweeping views of Porto, called the Garden of the Moors. Each evening the park fills with hundreds of locals and tourists alike as the sun sets on Porto. </p>
    <p>We purchased little plastic cups of sangria and sat along a retaining wall that overlooks the valley. Directly below us was the red tile roof of someone&#39;s home. </p>
    <p>I had once thought that mountains were too inhospitable for human habitation. That surely people would settle in the nearest flat valley or floodplain and leave the cliffside alone.</p>
    <p>Porto sure proved me wrong.</p>
    <p>Usually directions require two degrees for a precise spatial mapping. I am at this longitude and latitude. But in Porto, a third degree is necessary. I am at this altitude. </p>
    <p>And so we sat, with our feet dangling off the edge of a cliff&mdash; and yet directly over some poor soul&#39;s home, listening to the sound of buskers as we drank our wine. </p>
</div>

<div class="parallax" id="baxia">
    <div class="caption">
        <span class="border">Baxia</span>
    </div>
</div>

<div class="para-tex">
<p>On the morning of November 1st, 1755, a magnitude 7.7 earthquake struck Lisbon, flatting half the city, and soon after a man with an impossibly long name, Sebastião José de Carvalho e Melo, 1st Marquis of Pombal and 1st Count of Oeiras, began work on the master plan to rebuild. </p>
<p>He would detangle the crowded confusing streets of Lisbon and produce something orderly and rational. The famously hilly landscaped would be leveled and eight parallel streets would be laid down terminating in a grand arcade that enclosed a public plaza. </p>
<p>Only the Rua Augusta, which would flow under a 100 foot arch, would lead directly into the plaza, the back of which opened onto the sea itself. The neighborhood would be called Baxia.</p>
<p>In the midnight hour of November 1st, 2024, two newly weds left a bar in Barrio Alto. It was the night after Halloween, and the streets were practically empty. They tucked a bottle of red wine in the crook of their arm and walked down to Baxia. </p>
<p>White and yellow string lights formed a canopy over Rua Augusta. Restaurants and tourist shops were locking up. The Arch glowed yellow under incandescent lights as they passed underneath. </p>
<p>There were a few stragglers taking pictures. But the square was mostly empty. Just them, the dimly lit arch, and the quiet lapping black waves of the sea against the stone.</p>
<p>&quot;Take this&quot;, the groom said to the bride. He handed her an ear bud. </p>
<p>&quot;Moooon River&quot;, Audrey Hepburns soft, raspy voice began to sing. It was their first dance song. He extended his hand, and the two began to dance.  </p>
</div>

{% endblock %}