{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='countries/puerto_rico/puerto_rico.css') }}">
    <link rel="stylesheet" href="{{ url_for('travel.static', filename='css/pages.css') }}">
</head>
<div class="parallax" id="cars">
    <div class="caption">
        <span class="border">San Juan</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span>t was our first night in San Juan. We were staying a block or two outside of the Oldtown in a Sheraton by the water. Even though it was late, we were itching to see the city. We walked up Calle de la Tanca. The city was bathed in the ethereal yellow light of fluorescent lamps, and the streets had been emptied out of people. It felt a bit eerie, like we were walking through a museum after closing. </p>
    <p>&quot;Its a little bit creepy here,&quot; my dad said. There is something naturally unsettling about a new city, especially at night, and although San Juan was built in a grid, we found ourselves getting turned around more than we anticipated. The uniform heights and layout of the pastel colonials, while charming in the light, did not provide any landmarks to anchor us. </p>
    <p>&quot;Its safe here right?&quot; My dad asked.</p>
    <p>&quot;Yeah of course, it&#39;s like tourist central.&quot;</p>
    <p>It really was. Old San Juan is ten or twelve city blocks of Spanish-Colonial townhouses built on cobble stone streets, all encased in 42 foot high city walls. It is located on a small island that sits just across the Bay of San Juan from the mainland. The city walls are bookended by two massive colonial fortresses, Castillo de San Cristobal and Castillo San Felipe del Morro. </p>
    <p>Most of the townhomes are two stories, with wrought iron balconies and flat facades. Each home is painted a different pastel color, lending an element of vibrancy and charm to the city. Colonial Spanish cities are famous for their organization, which was determined by royal decree in the late 16th century. Everything from the height of the buildings, to the dimensions of the main square, to the location of the churches was standardized. Founded in 1521, San Juan predates that decree by about fifty years and lacks some of the neatness found in other cities. The main church, Catedral Basilica Menor de San Juan Bautista, is not directly on the main square, Plaza de Armas, for example. </p>
    <p>I think the distinct lack of tourists or really anyone out and about is what was throwing us off. Although slightly apprehensive, I wasn&#39;t too worried. I patted my dad on the back. &quot;There is nothing to worry about. Don&#39;t forget, this is the United States. It&#39;s safe here.&quot;</p>
    <p>As we turned a corner into an alley, we suddenly heard the sound of someone dragging a large chain across cobblestone streets. We looked at each other and promptly decided to return to our hotel room.</p>
    <p>The next morning we emerged from the safety of our Hilton Honors hotel and ventured back into the city. Little children, their nose blotched with a strip of white sunblock, walked up and down the streets. A street vendor with a parrot enticed tourist to take a picture. A cruise ship was anchored in the port right outside our hotel. It was all too clear that there was nothing to be afraid of. </p>    
</div>
<div class="parallax" id="street-pr">
    <div class="caption">
        <span class="border">Turistas</span>
    </div>
</div>

<div class="para-tex">

<p><span class="firstcharacter">I</span>&#39;ve never been much afraid of being outed as a tourist. Some recoil from the label in a mix of shame and disgust. I remember telling an Uber driver in Philadelphia that my friends and I were in town just for the weekend to be elbowed and glared at by my fellow passengers. God forbid that our driver know that we aren&#39;t native to the exotic and cosmopolitan city of <em>Philadelphia</em> but instead were slack jawed, unwashed provincials from the neighboring Mid-Atlantic city of <em>Washington DC</em>. </p>
<p>However, I have my limits. </p>
<p>My dad and I were taking the taxi from the airport into San Juan, and our taxi driver was giving us unsolicited recommendations for our time in Puerto Rico. </p>
<p>&quot;Oh you are gonna have a great time. Let&#39;s see, what can you do? Well, the tourists love the zip line. You should do that. The tourists love seeing the turtles. There&#39;s a beach that the turtles lay eggs on, and then they hatch and you can watch them scurry to the water. You are staying in Old Town? That&#39;s perfecto. The tourists love staying there. The houses all have very bright colors&quot;</p>
<p>The driver talked about tourist in nearly the same way one would talk about children. I was half expecting him to suggest we put on Cocomelon to help lull us to sleep at night. </p>
<p>&quot;What&#39;s something we could do that&#39;s less touristy?&quot; We asked. </p>
<p>He paused. He seemed to deeply ponder the question as if he were just asked something deeply out of the normal. &quot;Well, you could go to a cock fight by the airport.&quot;</p>
<p>We politely declined as we were really looking more for something like a restaurant recommendation. </p>
</div>

<div class="parallax" id="san-juan">
    <div class="caption">
        <span class="border">Sunlight</span>
    </div>
</div>

<p>I was back in San Juan for Alex&#39;s bachelor party. I had stepped out to purchase a few bottles of water. Probably unnecessary, but I had been scared too many times by food poisoning in Latin America. </p>
<p>The streets were alive with a cacophony of honking horns and overhead wires. There is a distinct energy to the neighborhood just outside of Old San Juan. A little rougher hewn. A mix of surfer paradise and unsettled local upset at the presence of the aforementioned surfer. The beach was steps away, wild tropical birds perched themselves on the wires. A thin layer of sand impressed itself on every surface.</p>
<p>Golden hour here was like no where I had been before. Every surface was bathed it the sun&#39;s brilliance. Everything  was imbued with the golden hue. The buildings feel on the edge between worn down and worn in. </p>
<p>It is easy to imagine buying a second home here. Quickly jetting down from the east coast to a slice of paradise on the water. There is something about being in a new city that makes you want to live there, however impractical. </p>
<p>I got my bottled water from the convenience store. I wonder if the cashier knew that I was afraid to drink the water. I wonder if he cared. </p>


<div class="parallax" id="fort-pr">
    <div class="caption">
        <span class="border">Forts</span>
    </div>
</div>

<div class="para-tex">

<p>At its inception, the city of San Juan&#39;s purpose was primarily martial. With thick city walls, buttressed by three massive forts&mdash;one of which would eventually become the Governor&#39;s Mansion&mdash;the town of San Juan was designed stake a Spanish claim to the whole island and to defend that claim from the repeated incursions of the Dutch, English and French. </p>
<p>My father and I walked along the outer walls of Castillo San Felipe del Morro, one of the three major forts built by the Spanish, looking out into the sparkling Caribbean Sea. While Old Town San Juan was colorful and baroque with quaint cobble stone streets, and faded stucco colonials, the forts were massive towers of granite and rolling fields of green. Spanish soldiers stayed in the dusty, hot barracks of the fort, a short walk but still worlds apart from the stately homes they were there to protect. </p>
<p>El Morro was built to repel attacks from the sea, such as the 1595 incursion by English privateer Sir Francis Drake and 1797 blockade by  Sir Ralph Abercrombie. The latter of which ended when the then governor ordered a Rogativa of nuns to walk the city walls, carrying torches and singing hymns, praying for relief from the overpowering English blockade. Abercrombie mistook the hymns and torches to be from reinforcements who had snuck past his blockade and had entered the city in high spirits. </p>
<p>Castillo San Cristóbal, on the other hand, was built to repel adversaries by land. Its a massive complex, considered to be the largest fort built by the Spanish in the New World. Underneath the fort lies a series of tunnels meant to carry supplies in and out of San Juan even under the threat of invasion. Most recently, these tunnels served as bomb shelters during WWII.</p>
<p>Now a days, tourist have picnics and fly kites on the battlefields that surround the forts. My dad and I gazed back at the three flags that flew over the fort, the US flag, the Puerto Rican flag, the Cross of Burgundy, a nod to the Spanish roots of these colonial forts. </p>

</div>

<div class="parallax" id="basketball">
    <div class="caption">
        <span class="border">Basketball</span>
    </div>
</div>

<div class="para-tex">

    <p>Perched atop 100 feet atop a rocky outcrop, Old San Juan is largely safe from hurricanes. Though I suppose when the Spanish settled here, they were more concerned with pirates and the English than inclement weather. Their choice proved prescient as their colony has remained largely intact in the 400 years since its establishment. </p>
    <p>There is an interesting nexus between man and nature when it comes to how geography can inform a city&#39;s design. The high rocky outcrop&#39;s commanding views of the sea attract not just the Spanish but pigeons and seagulls as well. They&#39;ve become a bit of a carnival attraction now. Hundreds of the gather in Parque de las Palomas, and if you stand even moderately still, they will swoop down onto your hands and shoulders hoping for a morsel of food.</p>
    <p>The high walls that surround the city demarcate the former sovereignty of Spanish crown. Within them, you are under the protection of the law. Outside them, you were on your own. A famous shanty town called &quot;La Perla&quot; formed just outside the walls.</p>
    <p>Under Spanish law, servants and slaves were not permitted to live within the city and formed La Perla around a slaughterhouse and cemetery. The streets wind haphazard, crawling up the mountain face, like switchbacks on hiking trail, until they reach the steep walls of the city. The buildings there exist in a legal limbo&mdash; few of them have the proper permits though the area receives typical city services.  Caught between the Atlantic Ocean and the steep cliffs of Old San Juan, When Hurricane Maria hit San Juan, its rocked La Perla. </p>
    <p>You can descend into La Perla through chain link gate and down a set of steep concrete steps. I walked down to a pristine basketball court, furnished by Carmelo Anthony. There were palm trees, roof tops, and a clear view of the blue ocean waters on one side, and the steep walls of Castillo de San Cristobal on the other. </p>
    <p>I shot a deflated ball and missed.</p>
    <p>A monkey on a tin roof looked at me. His eyes wide, his mouth slightly agape. I reached down to get my phone, which he took as an act of aggression and scurried away. Behind him, I could see a woman in an airbnb, looking out her window sill into the ocean. </p>
    
</div>


{% endblock %}