{% extends "base.html" %}

{% block content %}
<h1>Github Actions</h1>
<p>It sure can be a hassle to put <code>docker push corydonbaylor/images:flask</code> everytime we want the app to get to docker. It really is unbearable. Luckily there is a way to automatically deploy to docker hub each time you merge onto main. </p>
<p>Enter the magic of GitHub actions.</p>
<h2>Setting Up</h2>
<p>This may come as a shock but we need to create a GitHub repo for this to work. Let&#39;s do that now. I like to create it on GitHub and then clone it in.</p>
<pre><code class='language-shell' lang='shell'>git clone git@github.com:corydonbaylor/flask-docker.git
</code></pre>
<p>Next, in the base of our folder we need to create a folder called <code>.github/workflows</code>:</p>
<pre><code>mkdir .github
cd .github
mkdir workflows
</code></pre>
<p>Finally, let&#39;s put our stuff in from when we built our flask app. The directory tree should look like this:</p>
<pre><code>├── Dockerfile
│   ├── .github
│   │   ├── workflows
├── README.md
├── app.py
└── requirements.txt
</code></pre>
<h2>The Actual Action</h2>
<p>Ok within the workflows directory, create a file called <code>docker-publish.yml</code> and put all of this in it:</p>
{% raw %}
<pre><code class='language-yaml' lang='yaml'>name: Build and Push Docker Image

on:
  push:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build the Docker image
        run: |
          docker build -t corydonbaylor/images:flask .  

      - name: Push the Docker image
        run: |
          docker push corydonbaylor/images:flask  
</code></pre>
{% endraw %}

<p>Let&#39;s break down what&#39;s happening here:</p>
<p><strong>The Trigger</strong>: this is what triggers this pipeline to run. In our case, it&#39;s when we push to the main branch.</p>
<pre><code class='language-yaml' lang='yaml'>on:
  push:
    branches:
      - main  # Change this to your default branch if it&#39;s different
</code></pre>
<p><strong>Setting Up the Pipeline</strong>: this determine what the steps in the operating system will be running on. In our case, that is the latest version of ubuntu. </p>
<pre><code class='language-yaml' lang='yaml'>jobs:
  build:
    runs-on: ubuntu-latest
</code></pre>
<p><strong>Getting the Code</strong>: the first step in the pipeline checks out the code from the repo.</p>
<pre><code class='language-yaml' lang='yaml'>steps:
  - name: Checkout code
    uses: actions/checkout@v2
</code></pre>
<p><strong>Logging into Docker</strong>: Next we are going to log into docker. In order to do this you will need to add your username and password as secrets. </p>
<p>To do this go <strong>Repository Settings &gt; Security &gt; Secretes and Variables &gt; Actions</strong> and add your username and password. </p>
{% raw %}
<pre><code class='language-yaml' lang='yaml'>- name: Log in to Docker Hub
  uses: docker/login-action@v2
  with:
    username: ${{ secrets.DOCKER_USERNAME }}
    password: ${{ secrets.DOCKER_PASSWORD }}
</code></pre>
{% endraw %}
<p><strong>Build and Push the Image</strong>:</p>
<pre><code class='language-yaml' lang='yaml'>- name: Build the Docker image
  run: |
    docker build -t corydonbaylor/images:flask .  # Replace with your image name

- name: Push the Docker image
  run: |
    docker push corydonbaylor/images:flask  # Replace with your image name
</code></pre>
<h2>Why Do This At All?</h2>
<p>Ok so why are we even doing this? It&#39;s all about making your code entirely portable. If another person or program wants to pick up your code they should be able to do that. </p>
<p>This does not need to be the last step of the process either. Perhaps something like Tekton picks up the image you pushed and uses as part of its CICD process. Perhaps a hosting service picks up the latest image and then uses that to serve your website. </p>
<p>The possibilities are endless. </p>

{% endblock %}