{% extends "base.html" %}

{% block content %}

<h1>Welcome to Docker</h1>
<p>You may have heard the term docker bandied about. You may have even be the bandier. I bet you are the type of guy who says micro service a lot but doesn&#39;t know what that really means&mdash; much like a dog who offers his paw for a treat, you say micro service for a gentle murmur of agreement in a meeting. </p>
<p>But how does docker <em>really</em> work?</p>
<p>Well I will show you.</p>
<h2>Getting Set Up</h2>
<p>First you must have docker loaded and running on your machine. Go to the following <a href='https://www.docker.com/products/docker-desktop/'>link</a> and download docker desktop.</p>
<p>Then you should create a project directory like so:</p>
<pre><code class='language-shell' lang='shell'>mkdir docker &amp;&amp; cd docker
</code></pre>
<p>Within that we are going to create a folder to store some files</p>
<pre><code class='language-shell' lang='shell'>mkdir files
cd files
touch index.html
</code></pre>
<p>Now let&#39;s go ahead and put something in that index.html</p>
<pre><code class='language-html' lang='html'>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;title&gt;My Docker App&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Hello, Docker!&lt;/h1&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<h2>Creating and Running Docker</h2>
<p>Next lets back out to the root directory and create a Dockerfile</p>
<pre><code class='language-shell' lang='shell'>cd ..
touch Dockerfile
</code></pre>
<p>And fill it with the following:</p>
<pre><code># Use an official Nginx image as a base image
FROM nginx:alpine

# Copy the HTML file into the Nginx server directory
COPY files/index.html /usr/share/nginx/html/index.html

# Expose port 80 to access the web server
EXPOSE 80
</code></pre>
<p>Next we are going to build the docker images</p>
<pre><code class='language-shell' lang='shell'>docker build -t html .
</code></pre>
<ul>
<li>The <code>-t html</code> gives it a tag of html</li>
<li>The <code>.</code> Indicates that you should be building in the current directory</li>

</ul>
<p>Finally, we are going to run the image</p>
<pre><code class='language-shell' lang='shell'>docker run -d -p 8080:80 html
</code></pre>
<p>Go to <a href='http://localhost:8080' target='_blank' class='url'>http://localhost:8080</a> and you will see the webpage you just created!</p>
<h2>Ok but Why?</h2>
<p>So all of that worked but what was the point? Right now, we have a very simple application&mdash; a webpage, but as our application grows larger and larger, it will be come more complex to manage things like dependencies. What works in one environment may not work in another.</p>
<p>What docker allows us to do is ship <em>all</em> the requirements needed for an application to run. All the way down to the operating system.</p>
<p>Let&#39;s take another look at the docker file:</p>
<pre><code># Use an official Nginx image as a base image
FROM nginx:alpine

# Copy the HTML file into the Nginx server directory
COPY files/index.html /usr/share/nginx/html/index.html

# Expose port 80 to access the web server
EXPOSE 80
</code></pre>
<p>That first line indicates what the <strong>base image</strong> is. In this case, we are using nginx running on alpine. The base image is like a starting point for your image. It&#39;s essentially a blank little computer with very little installed on it. You can add more packages and libraries on top of the this starting point if needed</p>
<p>And docker will be smart about it. </p>
<p>Try running <code>docker build</code> again. It should take much less time because docker has already downloaded the base image and will just try layering stuff on top. </p>
<p>As long as the computer or server that you send this image to has docker on it, it will be able to run this image and therefore be able to run your website. </p>
<p>Fundamentally, moving something from a dev environment to a production environment is the work of CI/CD.</p>


{% endblock %}