
#building {
    background-image: url('buenos_aires.jpg');
}

#taxis {
    background-image: url('argentina_building.jpg');
}

#new_years {
    background-image: url('fireworks.gif');
}

#jujuy {
    background-image: url('jujuy.jpg');
}

#salta {
    background-image: url('salta.jpg');
}