
#building {
    background-image: url('buenos_aires.jpg');
}

#taxis {
    background-image: url('argentina_building.jpg');
}

#new_years {
    background-image: url('https://www.dropbox.com/scl/fi/q2vbz2ccpsar5p6ocpy5m/fireworks.gif?rlkey=k0q0tyr2pra2la7ft06uv1jl7&st=bu4r2a9c&dl=0&raw=1');
}

#jujuy {
    background-image: url('https://www.dropbox.com/scl/fi/6e3prt7toya23viiw6yf2/jujuy.jpg?rlkey=18euk5t44kic616ih19qw9nup&st=1s4b66xj&dl=0&raw=1');
}

#salta {
    background-image: url('salta.jpg');
}