/*  */
#cdmx{
      background-image: url("https://www.dropbox.com/scl/fi/ctswjpcsoicrigyfx5iiq/cdmx.jpeg?rlkey=sje3zhy462jy18xyfgzsvbpfh&st=pdbgw9tn&dl=0&raw=1");
}

#romanorte{
      background-image: url("https://www.dropbox.com/scl/fi/0esysbufpf1d25ghf4plg/roma.jpeg?rlkey=f1ihhleue366x23xp3vtjmnov&st=cq4mc4e0&dl=0&raw=1");

}
#aztecs{
        background-image: url("https://www.dropbox.com/scl/fi/rmxk9xgi8x60wqzd6ila4/aztec.jpeg?rlkey=osbvjjycomhrnk2k5bjkw387o&st=z4fl20v2&dl=0&raw=1");

}
#lucha{
        background-image: url("https://www.dropbox.com/scl/fi/i6s5i7elrd67l0q4ntdiz/lucha.jpeg?rlkey=f6ysrw6hx6bs4wpcpr9xhj759&st=g271p8ri&dl=0&raw=1");

}

#wedding {
    background-image: url("wedding.jpeg");
  }
  /*  */
#sanmig {
background-image: url("test.jpg");

}

/*  */
#tulum {
background-image: url("test_tulum.jpg");

}
