/* HUNGARY */

#budapest {
    background-image: url("https://www.dropbox.com/scl/fi/ndlsg2fpmd2d9y5t78zbd/budapest.jpeg?rlkey=433qiiydb4nqf4ne2f4qb04lh&st=rng8txl6&dl=0&raw=1");
  }
    
  #heros {
    background-image: url("https://www.dropbox.com/scl/fi/87tm956f3kl2xuh670mc2/heros.jpeg?rlkey=eg3fvgc68ivgbeh5xfrvlz9by&st=xmvvq6ma&dl=0&raw=1");
  }
  
  #town {
    background-image: url("town.jpeg");
  }
  
  #baths {
    background-image: url("https://www.dropbox.com/scl/fi/gqpcyj28kh7osl3luqs6l/baths.jpeg?rlkey=g8oh0i1xgp1hsc0gsbooraayi&st=cebzntmh&dl=0&raw=1");
  }
  
  #night {
    background-image: url("parliament.gif");
  }