  
#market {
background-image: url("market.jpeg");
}

#old {
background-image: url("old.jpeg");
}

#colonia {
background-image: url("https://www.dropbox.com/scl/fi/ttf3niplx1wh0rxjf2w15/colonia.jpg?rlkey=hdebkummn7tbti8q8rxw0tf3t&st=k52d5h14&dl=0&raw=1");
}

#plates {
background-image: url("plates.jpeg");
}
  