
#trash {
    background-image: url('https://www.dropbox.com/scl/fi/tnnuu1tdq98uhx0kkx3ti/trash.jpeg?rlkey=h965i3bgrszvd579324muo7tw&st=kk1fv8mi&dl=0&raw=1');
}
#tokyo {
    background-image: url('https://www.dropbox.com/scl/fi/eml4ar9sxljq6ih0nzcz8/tokyo.jpeg?rlkey=l7356ozerspxrzq27p9tvuhud&st=9gslgfk2&dl=0&raw=1');
}

#kyoto {
    background-image: url('https://www.dropbox.com/scl/fi/1qi69dy0worvv2q8wk4n9/kyoto.jpeg?rlkey=h0vtrh60xtmyc5ncokv8pf20w&st=bg9qd5y7&dl=0&raw=1');
}

#kyoto2 {
    background-image: url('https://www.dropbox.com/scl/fi/1rzrdheht9uq0io02frzi/kyoto2.jpeg?rlkey=agufzkkg0vgf0rpcpk8noxrhb&st=zq24u8dl&dl=0&raw=1');
}
#goldengai {
    background-image: url('https://www.dropbox.com/scl/fi/q73sknx45rccg0bv4glkt/goldengai.jpeg?rlkey=35nduc96hw8jgop148xg1chi7&st=nig3be11&dl=0&raw=1');
}

#monkey {
    background-image: url('https://www.dropbox.com/scl/fi/cf48gxdhcxv1vz2iaf8hi/monkey.jpeg?rlkey=mfg6zmgrquphnk8c4tt7ut72o&st=05harvb1&dl=0&raw=1');
}

#temples {
    background-image: url('https://www.dropbox.com/scl/fi/jqst31g0a2ma83j2exbkm/temples.jpeg?rlkey=mgm5hy8eee0arlvud1w9fjyfk&st=smzcunac&dl=0&raw=1');
}