{% extends "map_base.html" %}

{% block content %}
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if start_suggestions %}
        <p>Did you mean one of these for the start station?</p>
        <ul>
        {% for suggestion in start_suggestions %}
            <li>{{ suggestion[0] }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if end_suggestions %}
        <p>Did you mean one of these for the end station?</p>
        <ul>
        {% for suggestion in end_suggestions %}
            <li>{{ suggestion[0] }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}