{% extends 'base.html' %}

{% block title %}Tutorials{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('tutorials.static', filename='css/tutorials.css') }}">
</head>
<h1 class="heroes">We've got some learning to do</h1>

<div class="grid-container">
    <div class="grid-item order-1" id="python-r">
        <h3>Python for R Enthusiasts</h3>
        <ul class="word-list" style="display: none;">
            <li><a href="{{ url_for('python_r.reticulate') }}">Using Python in R Studio</a></li>
            <li><a href="{{ url_for('python_r.data_types') }}">Data Type Comparison</a></li>
            <li><a href="{{ url_for('python_r.save') }}">Saving Your Data</a></li>
            <li><a href="{{ url_for('python_r.pandas') }}">Intro into Pandas</a></li>
            <li><a href="{{ url_for('python_r.filtering') }}">Advanced Filtering</a></li>
            <li><a href="{{ url_for('python_r.groupby') }}">Advanced Group Bys</a></li>
            <li><a href="{{ url_for('python_r.combining') }}">Combining Data Frames</a></li>
        </ul>
    </div>
    <div class="grid-item order-2" id="python-package">
        <h3>Building a Python Package</h3>
        <ul class="word-list" style="display: none;">
            <li><a href="{{ url_for('python_package.class1') }}">Writing Your First Class</a></li>
            <li><a href="{{ url_for('python_package.class2') }}">Classes 201</a></li>
            <li><a href="{{ url_for('python_package.functions') }}">Functions 101</a></li>
            <li><a href="{{ url_for('python_package.functions2') }}">Functions 201</a></li>
            <li><a href="{{ url_for('python_package.package') }}">Putting it all in a Package</a></li>
            <li><a href="{{ url_for('python_package.poetry') }}">Using Poetry to Make it Executable</a></li>
            <li><a href="{{ url_for('python_package.pytest') }}">Testing Code with Pytest</a></li>
        </ul>
    </div>
    <div class="grid-item order-3" id="webdev">
        <h3>Flask on Raspberry Pi</h3>
        <ul class="word-list" style="display: none;">
            <li><a href="{{ url_for('flask_pi.linux_git') }}">Linux and Git: Setting Up Your Workspace</a></li>
            <li><a href="{{ url_for('flask_pi.html_css') }}">HTML and CSS: Creating a Static Site</a></li>
            <li><a href="{{ url_for('flask_pi.bootstrap') }}">Bootstrap: A CSS Facelift</a></li>
            <li><a href="{{ url_for('flask_pi.using_raspberry') }}">Local Hosting pt. I: Raspberry Pi as a Server</a></li>
            <li><a href="{{ url_for('flask_pi.flask') }}">Flask pt. I: Your First Flask App</a></li>
            <li><a href="{{ url_for('flask_pi.templates') }}">Flask pt. II: Templating with Jinja2</a></li>
            <li><a href="{{ url_for('flask_pi.apache') }}">Local Hosting pt. II: Flask and Apache</a></li>
            <li><a href="{{ url_for('flask_pi.port_forwarding') }}">Local Hosting pt. III: Port Fowarding</a></li>
        </ul>
    </div>
    <div class="grid-item order-4" id="docker">
        <h3>Docker and CI/CD</h3>
        <ul class="word-list" style="display: none;">
            <li><a href="{{ url_for('docker.hello_docker') }}">Baby's First Containers</a></li>
            <li><a href="{{ url_for('docker.manage_docker') }}">Managing a Docker Container</a></li>
            <li><a href="{{ url_for('docker.flask_docker') }}">Flask and Docker</a></li>
            <li><a href="{{ url_for('docker.poetry_docker') }}">Poetry and Docker</a></li>
            <li><a href="{{ url_for('docker.docker_hub') }}">Docker Hub</a></li>
            <li><a href="{{ url_for('docker.github_actions') }}">Github Actions</a></li>

        </ul>
    </div>
    <div class="grid-item order-5" id="ml">
        <h3>Machine Learning</h3>
        <ul class="word-list" style="display: none;">
            <li><a href="{{ url_for('machine_learning.p_values') }}">p values</a></li>
            <li><a href="{{ url_for('machine_learning.linear') }}">Linear Regression</a></li>
            <li><a href="{{ url_for('machine_learning.kmeans') }}">K-means Clustering</a></li>
            <li><a href="{{ url_for('machine_learning.class_tree') }}">Classification Tree</a></li>

        </ul>
    </div>
    <div class="grid-item order-5" id="gds">
        <h3>Graph Data Science</h3>
        <ul class="word-list" style="display: none;">
            <li><a href="{{ url_for('gds.dijkstra') }}">Path Finding: Dijkstra's Algo</a></li>
            <li><a href="{{ url_for('gds.centrality') }}">Centrality I: Basic Centrality</a></li>
            <li><a href="{{ url_for('gds.pagerank') }}">Centrality II: PageRank</a></li>
            <li><a href="{{ url_for('gds.modularity') }}">Communities I: Modularity</a></li>
            <li><a href="{{ url_for('gds.louvain') }}">Communities II: Louvain</a></li>
            <li><a href="{{ url_for('gds.link_prediction') }}">Link Prediction</a></li>


        </ul>
    </div>
</div>

<script src="{{ url_for('tutorials.static', filename='js/grid.js') }}"></script>

{% endblock %}