

.parallax{
    background-size: 110%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 30vh;
    display: flex;               /* Use Flexbox for layout */
    justify-content: center;     /* Center horizontally */
    align-items: center;         /* Center vertically */
    position: relative;  
    margin: 5vh 0;     
}

.caption {
    text-align: center;
    background-color: black;
    color: white; 
    padding: 15px 30px;
    opacity: 80%;   
    font-weight: 200;  
}

@media (max-width: 800px) {
    .parallax {
        background-attachment:inherit;
    }
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3vh;
    gap: 5vh;
    max-width: 960px; /* Adjust based on your preference */
    margin: 0 auto;
}
.grid-item{
    padding: 3vh;
    border: 1px solid black;
}
