.grid-container {
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */

}
.grid-item {
    color: white; /* Text color */
    padding: 20px; /* Padding inside each item */
    text-align: center; /* Center text inside items */
}
p {
    color: var(--cornsilk);
}

.list-header{
    font-weight: 700;
}

a {
    color: var(--cornsilk)
}