
.hidden {
    display: none; /* Hides the word list initially */
}

.grid-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px; /* Space between boxes */
}

.grid-item {
    position: relative;
    padding: 50px;
    background-color: var(--ivory);
    border: 5px solid var(--secondary);
    min-width: 20vh;
    text-align: center;
    overflow: hidden; /* Ensures the pseudo-element doesn't extend beyond the grid item */
}

.grid-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Initial dark overlay */
    opacity: 0; /* Start with no opacity */
    transition: opacity 0.3s ease; /* Smooth transition for opacity change */
    z-index: 1; /* Place it above the background image but below the content */
}

.grid-item > * {
    position: relative;
    z-index: 2; /* Ensure content stays above the overlay */
}

.grid-item:hover::before {
    opacity: 1; /* Full opacity on hover */
}
.grid-item h3 {
    display: inline;
    background-color: var(--ivory); /* Yellow background */
    padding: 2px 10px; /* Optional: Adds some space around the text */
  }
  
.grid-item.expanded {
    grid-column: span 2; /* Makes the box take full width of the two columns */
    text-align: center;
    min-height: 40vh;

}
/* Set order based on classes */

@media (max-width: 800px) {
    #python-r,
    #python-package,
    #webdev,
    #docker,
    #ml {
        background-attachment: inherit !important; /* Change to inherit on mobile */
        background-size: cover !important;
    }
}

#python-r,
#python-package,
#webdev,
#docker,
#ml {
    background-size: 90%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#ml{
    background-image: url('../images/wall_street.png');

}

#python-r {
    background-image: url('../images/empire.png');
}

#python-r .word-list {
    text-align: right; /* Right-aligns the content within the ul */
}

#python-package {
    background-image: url('../images/highbridge.png');
}

#webdev {
    background-image: url('../images/manhatten.png');
}

#webdev .word-list {
    text-align: left; /* Right-aligns the content within the ul */
}

#docker {
    background-image: url('../images/brooklyn_bridge.png');
}

#docker .word-list {
    text-align: left; /* Right-aligns the content within the ul */
}
.word-list a {
    text-decoration: none; /* Removes underline from links */
    color: #333; /* Sets link color */
    background-color: var(--ivory); /* Light grey background */
    padding: 5px 10px; /* Adds padding around the text */
    display: inline-block; /* Makes the background fit the content */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    text-align: right;
}

.word-list a:hover {
    text-decoration: underline; /* Removes underline from links */
}


.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }

.full-width {
    grid-column: span 2; /* Makes the box take full width of the two columns */
}

.word-list{
    list-style-type: none; /* Removes bullets from unordered lists */
}

.grid-item:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}