
.hidden {
    display: none; /* Hides the word list initially */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px; /* Space between boxes */
}

.grid-item {
    padding: 50px;
    background-color: var(--ivory);
    border: 5px solid var(--secondary);
    text-align: center;
}

.grid-item h3 {
    display: inline;
    background-color: var(--ivory); /* Yellow background */
    padding: 2px 10px; /* Optional: Adds some space around the text */
  }
  
.grid-item.expanded {
    grid-column: span 2; /* Makes the box take full width of the two columns */
    text-align: center;

}
/* Set order based on classes */

#python-r {
    background-image: url('../images/empire.png');
    background-size: 80%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.word-list a {
    text-decoration: none; /* Removes underline from links */
    color: #333; /* Sets link color */
    background-color: var(--ivory); /* Light grey background */
    padding: 5px 10px; /* Adds padding around the text */
    display: inline-block; /* Makes the background fit the content */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    text-align: right;
}

.word-list a:hover {
    text-decoration: underline; /* Removes underline from links */
}
#python-r .word-list {
    text-align: right; /* Right-aligns the content within the ul */
}

.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }

.full-width {
    grid-column: span 2; /* Makes the box take full width of the two columns */
}

.word-list{
    list-style-type: none; /* Removes bullets from unordered lists */
}

.grid-item:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}