#copenhagen {
    background-image: url('https://www.dropbox.com/scl/fi/b0pd4pk2inqb3584cqisf/copenhagen.jpeg?rlkey=5ru39sbcr2z5ufnsjtrrpz8t8&st=seaz8dr5&dl=0&raw=1');
}

#tivoli{
    background-image: url('https://www.dropbox.com/scl/fi/06q6p5kfxf3vi7qwkxvbt/tivoli.jpeg?rlkey=acm3qt7bdq59grz6lsqu27l2h&st=smbhy5zb&dl=0&raw=1');
}
