#copenhagen {
    background-image: url('https://www.dropbox.com/scl/fi/b0pd4pk2inqb3584cqisf/copenhagen.jpeg?rlkey=5ru39sbcr2z5ufnsjtrrpz8t8&st=seaz8dr5&dl=0&raw=1');
}

#tivoli{
    background-image: url('https://www.dropbox.com/scl/fi/06q6p5kfxf3vi7qwkxvbt/tivoli.jpeg?rlkey=acm3qt7bdq59grz6lsqu27l2h&st=smbhy5zb&dl=0&raw=1');
}

#christianshavn{
    background-image: url('https://www.dropbox.com/scl/fi/oa30ehe2m4ytp255jgiu3/IMG_4760.jpeg?rlkey=mzbx4ay5fl8gwvvtxiiooc3qr&st=lj3as1i2&dl=0&raw=1');
}

#malmo{
    background-image: url('https://www.dropbox.com/scl/fi/fdeuxfhqy8l1ih6emlbq6/IMG_3669.jpg?rlkey=4w1htudfjwu8pji7958x6cp0y&st=no0qcklv&dl=0&raw=1');
}

#kronborg{
    background-image: url('https://www.dropbox.com/scl/fi/c5nmf7mf88qs4aonht7m0/IMG_3918.jpeg?rlkey=rce8sttm5ohzy3evbn5q06whr&st=u0ukar26&dl=0&raw=1');
}