/* SOUTHWEST */
#southwest {
    background-image: url("wallstreet.png");
  }


#road {
background-image: url("road.jpeg");
}

#zion {
background-image: url("zion.jpeg");
}

#bryce {
background-image: url("https://www.dropbox.com/scl/fi/q71ov6hj5afaqr1bih1zf/bryce.jpeg?rlkey=vehb0ohwr6n50k9bn2uwn6z83&raw=1");
}

#reef {
background-image: url("https://www.dropbox.com/scl/fi/l0v8hhbg3s1k7sjhi7v9h/reef.jpeg?rlkey=udctap7ig3cbxkmtu3r6zf3x8&raw=1");
}

#arch {
background-image: url("https://www.dropbox.com/scl/fi/x3a1d2nnx2nc1q6rkuvtk/arch.png?rlkey=ol8but0rxj1d8upsl34jo79cc&raw=1");
}
#valley {
background-image: url("https://www.dropbox.com/scl/fi/pjsn2zdcolodkme4ruzcx/valley.jpeg?rlkey=wmd5ch6bsqlp3mxk73q2nynqq&raw=1");
}
#cliff {
background-image: url("https://www.dropbox.com/scl/fi/51oa6mqbj2nj7mp3meyy9/cliff.jpeg?rlkey=ovis2nsi4rqpvpyf8191l6juv&raw=1");
}
#sanjuan {
background-image: url("https://www.dropbox.com/scl/fi/x7c1e7qt2fdfgftzkj0ng/sanjuan.jpeg?rlkey=hjbzpa35lwk9cmivl1y2muymb&raw=1");
}

#dunes {
background-image: url("https://www.dropbox.com/scl/fi/hmcvf9f4csjqpludw6ovr/dunes.gif?rlkey=sylekfufn4ld5ahadi28l6dhz&st=f8urqwxm&dl=0&raw=1");
}