#montreal {
background-image: url("https://www.dropbox.com/scl/fi/okk6x2y6nirnc29jgrq3o/montreal.jpeg?rlkey=6u6sb9fs0f1gnqb85uxz44mm2&st=pk84xgea&dl=0&raw=1");
}

#quebec_city {
background-image: url("quebec_city.jpeg");
}

#painting {
background-image: url("quebec.jpeg");
}
  