#amsterdam {
    background-image: url('https://www.dropbox.com/scl/fi/wlbkck9h9rvg7hdcan8qt/amsterdam.jpeg?rlkey=lxk70w1wmpk5xnaag51ag523w&st=5w5wfxq5&dl=0&raw=1');
}

#boat{
    background-image: url('https://www.dropbox.com/scl/fi/8lp2dlx98iurhhqj4q6r1/boat.gif?rlkey=swzjyusp84tg18ezmd0gqdkmd&st=b0526num&dl=0&raw=1');
}

#train{
    background-image: url('https://www.dropbox.com/scl/fi/3onewitclh5i7wulov5c8/train.jpeg?rlkey=2yljomz106f3y4ydthzbhqcw4&st=19hy4un4&dl=0&raw=1');
}
