#water{
    background-image: url("water.png");
  
  }
  
  #france_street{
    background-image: url("street.png");
  
  }
  
  #france_street2{
    background-image: url("street2.jpeg");
  
  }
  
  #france_street3{
    background-image: url("street3.jpeg");
  
  }
  
  #saint{
    background-image: url("https://www.dropbox.com/scl/fi/l2g6xlm8v4w5zwi3aj5l6/saint.png?rlkey=ue1cmq9c8d8360wsgzvb3igni&raw=1");
  
  }
  
  #rain{
    background-image: url("rain.jpeg");
  
  }
  
  
  #france_chapel{
    background-image: url("https://www.dropbox.com/scl/fi/im9a107wpggmh7abi1325/chapel.png?rlkey=q8p01y9v8nq9djrl19wec9hjj&raw=1");
  
  }
  
  #tower{
    background-image: url("https://www.dropbox.com/scl/fi/2lcck2zmj4ij4hknu54fq/tower.png?rlkey=qnt693x2knxa4lfg5vumueqzg&raw=1");
  
  }
  
  #hotel{
    background-image: url("../images/travel/france/hotel.jpeg");
  
  }